<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstRadioRotation</key>
	<string>brushThroughLevel</string>
	<key>hyperbolicAppbarScale</key>
	<string>mutableGateKind</string>
	<key>largeMethodVelocity</key>
	<string>dedicatedDelegateRight</string>
	<key>operationAsAction</key>
	<string>controllerCompositeSpeed</string>
	<key>projectOrCycle</key>
	<string>particleAtDecorator</string>
	<key>queryInsideVariable</key>
	<string>gridLikeBuffer</string>
	<key>sequentialUsecaseRotation</key>
	<string>rapidActivityInterval</string>
	<key>stampCompositeMode</key>
	<string>positionDuringLayer</string>
	<key>transformerInsideComposite</key>
	<string>controllerSinceMemento</string>
</dict>
</plist>
