<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityTypeCenter</key>
	<string>aspectPrototypeTail</string>
	<key>associatedSpriteOffset</key>
	<string>monsterThanType</string>
	<key>basicRowSize</key>
	<string>parallelAppbarRotation</string>
	<key>declarativeCatalystResponse</key>
	<string>ternaryLevelOrientation</string>
	<key>effectParamOpacity</key>
	<string>localViewSkewy</string>
	<key>equalizationDespiteWork</key>
	<string>associatedCoordinatorStatus</string>
	<key>iconAsContext</key>
	<string>geometricAnimationInteraction</string>
	<key>queryContextOrientation</key>
	<string>temporaryNormRate</string>
	<key>synchronousInjectionTheme</key>
	<string>resultPrototypeVelocity</string>
	<key>zoneInsideCycle</key>
	<string>beginnerScaffoldCenter</string>
</dict>
</plist>
