<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioThroughVar</key>
	<string>controllerStyleStatus</string>
	<key>labelInFramework</key>
	<string>handlerBufferRate</string>
	<key>momentumExceptVisitor</key>
	<string>similarMomentumMode</string>
	<key>progressbarPlatformLocation</key>
	<string>asyncDuringFlyweight</string>
	<key>queryInsideFramework</key>
	<string>effectTempleLeft</string>
	<key>storeDecoratorVisibility</key>
	<string>intensityContainKind</string>
</dict>
</plist>
