<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideProxy</key>
	<string>rowStylePosition</string>
	<key>brushModeOpacity</key>
	<string>signatureActionTheme</string>
	<key>buttonViaStage</key>
	<string>masterAwaySingleton</string>
	<key>grainTempleSpeed</key>
	<string>invisibleNotifierCoord</string>
	<key>pageviewAboutBuffer</key>
	<string>sampleProcessDensity</string>
	<key>particleParamSpacing</key>
	<string>signMethodTint</string>
	<key>positionedModeMomentum</key>
	<string>desktopMusicPosition</string>
	<key>singletonBeyondComposite</key>
	<string>captionAtPlatform</string>
</dict>
</plist>
