<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAtState</key>
	<string>accordionStoreDistance</string>
	<key>cupertinoTempleDensity</key>
	<string>layerBridgeOrientation</string>
	<key>effectOrContext</key>
	<string>materialEnvironmentSkewy</string>
	<key>greatRouteFlags</key>
	<string>beginnerInkwellSkewy</string>
	<key>standaloneTextureFlags</key>
	<string>significantHeapSize</string>
	<key>typicalRectTop</key>
	<string>crudeSceneAppearance</string>
</dict>
</plist>
