<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityInterpreterValidation</key>
	<string>toolStateFeedback</string>
	<key>geometricInjectionBorder</key>
	<string>disparateGridTop</string>
	<key>isolatePrototypeSpacing</key>
	<string>rectTempleFormat</string>
	<key>memberAgainstVisitor</key>
	<string>managerAroundScope</string>
	<key>radioBridgeStatus</key>
	<string>explicitTabviewLeft</string>
	<key>sizeDuringPhase</key>
	<string>methodTempleHead</string>
	<key>sliderExceptFacade</key>
	<string>queryInsideLevel</string>
</dict>
</plist>
