<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableIsolateSpeed</key>
	<string>equipmentVersusVariable</string>
	<key>difficultBitrateSpacing</key>
	<string>agileDocumentScale</string>
	<key>materialProcessMomentum</key>
	<string>effectTierSpeed</string>
	<key>opaqueWorkflowColor</key>
	<string>requiredExponentPressure</string>
	<key>viewTempleDistance</key>
	<string>aspectParamVisibility</string>
</dict>
</plist>
