<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestGradientTheme</key>
	<string>durationTempleLocation</string>
	<key>permanentBufferMomentum</key>
	<string>interfaceForShape</string>
	<key>petAdapterTension</key>
	<string>equalizationLevelName</string>
	<key>sizeSystemStyle</key>
	<string>handlerAtPhase</string>
	<key>storyboardForContext</key>
	<string>notifierBesideFlyweight</string>
	<key>subsequentMetadataMargin</key>
	<string>iterativeAnimationBehavior</string>
	<key>swiftWorkContrast</key>
	<string>appbarNearPhase</string>
</dict>
</plist>
