<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAmongObserver</key>
	<string>segueOperationDuration</string>
	<key>chartActionScale</key>
	<string>flexContainSystem</string>
	<key>criticalAwaitLocation</key>
	<string>sharedResultVisibility</string>
	<key>iconWithoutChain</key>
	<string>hierarchicalAnimatedcontainerSpeed</string>
	<key>materialThanTier</key>
	<string>sequentialDependencySpeed</string>
	<key>modulusOfComposite</key>
	<string>mediaStateRate</string>
	<key>routerThroughDecorator</key>
	<string>operationBridgeAcceleration</string>
</dict>
</plist>
