<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAndVariable</key>
	<string>stackInsideOperation</string>
	<key>crudePresenterAlignment</key>
	<string>musicTempleMargin</string>
	<key>fusedIsolateSaturation</key>
	<string>listenerValueDensity</string>
	<key>globalGateBrightness</key>
	<string>allocatorCycleDelay</string>
	<key>graphAsStrategy</key>
	<string>requiredDescriptionDistance</string>
	<key>imageTypeDirection</key>
	<string>methodMethodVisible</string>
	<key>petCommandIndex</key>
	<string>stepBeyondChain</string>
	<key>presenterVersusTier</key>
	<string>serviceInsideWork</string>
	<key>prevResponseTransparency</key>
	<string>similarIntensityTail</string>
	<key>spotVersusInterpreter</key>
	<string>blocFacadeOrigin</string>
</dict>
</plist>
