<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstAspectratioSpacing</key>
	<string>variantAmongWork</string>
	<key>gesturedetectorWorkCoord</key>
	<string>workflowCycleSaturation</string>
	<key>persistentProviderPadding</key>
	<string>subsequentRowInteraction</string>
	<key>scrollProcessDuration</key>
	<string>momentumStrategyCenter</string>
	<key>zoneFunctionDuration</key>
	<string>hashUntilTier</string>
</dict>
</plist>
