<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorNearNumber</key>
	<string>channelContextBound</string>
	<key>errorActionEdge</key>
	<string>storageContextRotation</string>
	<key>notificationMementoTension</key>
	<string>listenerDecoratorType</string>
	<key>sceneOfLevel</key>
	<string>disparateAlignmentFlags</string>
	<key>unsortedObserverAcceleration</key>
	<string>cubitStructureSkewy</string>
</dict>
</plist>
