<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstMode</key>
	<string>canvasSystemPosition</string>
	<key>cartesianGrayscaleTail</key>
	<string>animatedProviderDelay</string>
	<key>checkboxContainType</key>
	<string>tabbarInsideComposite</string>
	<key>cupertinoPrecisionTransparency</key>
	<string>pivotalIntensityColor</string>
	<key>gradientObserverBrightness</key>
	<string>associatedFrameIndex</string>
	<key>listenerNearPlatform</key>
	<string>captionStateOrigin</string>
	<key>missedTernaryState</key>
	<string>specifierBeyondShape</string>
	<key>playbackForFacade</key>
	<string>operationAroundStyle</string>
	<key>sceneAsTier</key>
	<string>deferredModulusAppearance</string>
	<key>timerExceptLayer</key>
	<string>decorationAroundEnvironment</string>
</dict>
</plist>
