<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardListviewEdge</key>
	<string>exceptionKindBrightness</string>
	<key>chartPlatformCenter</key>
	<string>constraintAgainstNumber</string>
	<key>dedicatedHeroBound</key>
	<string>activatedParticleRight</string>
	<key>delegateSinceEnvironment</key>
	<string>profileBridgeLeft</string>
	<key>precisionFromJob</key>
	<string>lossInMemento</string>
	<key>rowByTemple</key>
	<string>catalystOutsidePhase</string>
	<key>singleGraphMode</key>
	<string>hardLossVelocity</string>
</dict>
</plist>
