<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeInstructionFeedback</key>
	<string>apertureThanWork</string>
	<key>diversifiedParticleHead</key>
	<string>painterVariableLeft</string>
	<key>explicitMusicState</key>
	<string>toolFunctionInterval</string>
	<key>mutableMasterMode</key>
	<string>queueStageMargin</string>
	<key>oldBuilderOrientation</key>
	<string>greatConfigurationSkewy</string>
	<key>rolePerStage</key>
	<string>declarativeSinkTint</string>
	<key>swiftMementoTail</key>
	<string>rowThroughCommand</string>
</dict>
</plist>
