<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardFromFlyweight</key>
	<string>semanticsDespiteActivity</string>
	<key>metadataBesideStage</key>
	<string>agileOverlayEdge</string>
	<key>requiredGrainDensity</key>
	<string>subtleReferenceTag</string>
	<key>tangentWithoutShape</key>
	<string>multiParticleContrast</string>
	<key>unactivatedAllocatorTransparency</key>
	<string>contractionWorkRight</string>
</dict>
</plist>
