<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateValueAcceleration</key>
	<string>greatFlexVelocity</string>
	<key>descriptorParamSpeed</key>
	<string>featureWithoutType</string>
	<key>displayablePlaybackState</key>
	<string>indicatorVersusVisitor</string>
	<key>greatVectorOrigin</key>
	<string>tabbarAboutFacade</string>
	<key>ignoredSlashFormat</key>
	<string>adaptiveToolRate</string>
	<key>liteHeapLocation</key>
	<string>protectedStreamOpacity</string>
	<key>notifierSystemRate</key>
	<string>adaptivePreviewFlags</string>
</dict>
</plist>
