<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsThanDecorator</key>
	<string>tangentFlyweightTension</string>
	<key>graphicForProxy</key>
	<string>eagerIntensitySpeed</string>
	<key>invisibleBlocAppearance</key>
	<string>rowThroughInterpreter</string>
	<key>isolateLevelSpacing</key>
	<string>ephemeralBehaviorLocation</string>
</dict>
</plist>
