<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterBufferKind</key>
	<string>tappableMetadataOpacity</string>
	<key>fixedDropdownbuttonHead</key>
	<string>deferredDurationInteraction</string>
	<key>managerStageTop</key>
	<string>plateAgainstTemple</string>
	<key>mapLayerRight</key>
	<string>significantLocalizationShape</string>
	<key>mutableAnimationOrientation</key>
	<string>resourceOutsideMediator</string>
	<key>scrollCommandFrequency</key>
	<string>singletonModePressure</string>
	<key>staticTabbarMomentum</key>
	<string>precisionActivityDepth</string>
	<key>synchronousScreenName</key>
	<string>sizeTypeTail</string>
</dict>
</plist>
