<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletFlyweightBound</key>
	<string>arithmeticCommandName</string>
	<key>completerAboutTemple</key>
	<string>textScopeSkewy</string>
	<key>customPopupDistance</key>
	<string>tableAsFacade</string>
	<key>displayableProfileHue</key>
	<string>queryIncludeMediator</string>
	<key>nextConstraintInterval</key>
	<string>firstChartPosition</string>
	<key>pointChainValidation</key>
	<string>sophisticatedExponentTop</string>
	<key>positionedDespiteProcess</key>
	<string>petContextPosition</string>
	<key>significantButtonBehavior</key>
	<string>transitionMediatorStatus</string>
	<key>symbolChainTransparency</key>
	<string>entropyWithoutNumber</string>
</dict>
</plist>
