<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInsideScope</key>
	<string>staticMasterLocation</string>
	<key>commandVersusOperation</key>
	<string>drawerViaComposite</string>
	<key>effectPhaseBottom</key>
	<string>providerSingletonResponse</string>
	<key>mobileNavigatorDelay</key>
	<string>subsequentOptimizerFormat</string>
	<key>modelLevelEdge</key>
	<string>buttonProcessCount</string>
	<key>reducerParameterTail</key>
	<string>protocolAndValue</string>
	<key>resolverActivityTail</key>
	<string>bufferPerOperation</string>
	<key>sizeLikeInterpreter</key>
	<string>errorOutsideEnvironment</string>
</dict>
</plist>
