<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResponseMomentum</key>
	<string>themeBesideParameter</string>
	<key>inactiveTickerStatus</key>
	<string>gramDuringPhase</string>
	<key>musicStageVisible</key>
	<string>advancedWidgetTail</string>
	<key>newestResourceIndex</key>
	<string>finalSingletonAcceleration</string>
	<key>pinchableAssetHead</key>
	<string>radioAmongForm</string>
</dict>
</plist>
