<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnByNumber</key>
	<string>segueStyleIndex</string>
	<key>customizedTangentEdge</key>
	<string>widgetVersusLayer</string>
	<key>enabledAlignmentOrigin</key>
	<string>mainStateType</string>
	<key>graphPrototypeDirection</key>
	<string>sizeOfActivity</string>
	<key>lastContainerContrast</key>
	<string>methodActivityTransparency</string>
	<key>resolverAroundObserver</key>
	<string>crudeOffsetOrigin</string>
	<key>reusableRiverpodVisible</key>
	<string>numericalPageviewHead</string>
	<key>sessionStructureTheme</key>
	<string>uniqueBaselineMargin</string>
	<key>skirtPhaseTransparency</key>
	<string>primaryStoryboardValidation</string>
	<key>stateStructurePosition</key>
	<string>roleNearWork</string>
</dict>
</plist>
