<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxLikeLevel</key>
	<string>discardedCollectionVisibility</string>
	<key>errorPlatformOffset</key>
	<string>mutableSensorSaturation</string>
	<key>inheritedGroupFlags</key>
	<string>futureDuringSystem</string>
	<key>menuIncludeFramework</key>
	<string>decorationParamPressure</string>
	<key>priorIsolateVelocity</key>
	<string>precisionAmongValue</string>
	<key>titleByType</key>
	<string>navigatorThroughProcess</string>
</dict>
</plist>
