<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleListviewBottom</key>
	<string>sinkVersusWork</string>
	<key>advancedAlertSkewy</key>
	<string>workflowPhaseDistance</string>
	<key>cubeAlongTier</key>
	<string>heroViaStrategy</string>
	<key>cyclePatternStatus</key>
	<string>extensionProxyForce</string>
	<key>logAmongProcess</key>
	<string>descriptionFunctionDistance</string>
	<key>specifySizedboxKind</key>
	<string>inkwellViaVariable</string>
	<key>symmetricSwitchMomentum</key>
	<string>grainAroundKind</string>
	<key>tickerStrategySpeed</key>
	<string>captionValueFrequency</string>
</dict>
</plist>
