<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMetadataResponse</key>
	<string>scaleDecoratorSpeed</string>
	<key>bufferInterpreterStyle</key>
	<string>staticGrainInteraction</string>
	<key>customizedCapacitiesShape</key>
	<string>sophisticatedGatePadding</string>
	<key>injectionAndFramework</key>
	<string>painterContainForm</string>
	<key>interactorStyleScale</key>
	<string>comprehensiveUnaryDelay</string>
	<key>roleAmongSystem</key>
	<string>commonEquipmentSkewy</string>
	<key>signatureTaskDistance</key>
	<string>priorEffectForce</string>
	<key>techniqueAdapterSpacing</key>
	<string>asynchronousFeatureDepth</string>
	<key>tickerFromFramework</key>
	<string>groupExceptFramework</string>
	<key>widgetEnvironmentIndex</key>
	<string>columnBufferShade</string>
</dict>
</plist>
