<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customFutureDirection</key>
	<string>newestPreviewOffset</string>
	<key>fusedMenuMargin</key>
	<string>resolverObserverFeedback</string>
	<key>resizableNodeTransparency</key>
	<string>durationFrameworkCenter</string>
	<key>routeBesideVar</key>
	<string>nodeByValue</string>
	<key>secondTextureDensity</key>
	<string>graphFacadeOffset</string>
	<key>tappableMethodSkewx</key>
	<string>intuitiveEventPadding</string>
	<key>tickerWithoutFramework</key>
	<string>integerEnvironmentHue</string>
</dict>
</plist>
