<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAmongLevel</key>
	<string>popupAmongAction</string>
	<key>interpolationStageAppearance</key>
	<string>boxshadowStrategyLocation</string>
	<key>invisibleGradientScale</key>
	<string>normLikeForm</string>
	<key>managerBridgeFlags</key>
	<string>hardTimerSkewx</string>
	<key>mapVariableCoord</key>
	<string>enabledExpandedSpeed</string>
	<key>methodValueName</key>
	<string>originalReferenceBehavior</string>
	<key>repositoryFromObserver</key>
	<string>alignmentOutsideContext</string>
	<key>semanticCubitRight</key>
	<string>logFunctionCenter</string>
	<key>signatureIncludeAction</key>
	<string>hashFromLevel</string>
	<key>temporaryCommandSpacing</key>
	<string>taskBridgeForce</string>
</dict>
</plist>
