<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAccessoryOffset</key>
	<string>repositoryTierDirection</string>
	<key>animatedCellTop</key>
	<string>cubitSinceFacade</string>
	<key>configurationDuringStructure</key>
	<string>dynamicStackSpeed</string>
	<key>gridviewAndStructure</key>
	<string>topicContextKind</string>
	<key>nativeReducerEdge</key>
	<string>deferredContainerShade</string>
	<key>pointFormLeft</key>
	<string>particleAroundCycle</string>
	<key>switchCompositeCount</key>
	<string>actionBesideBridge</string>
	<key>tangentForValue</key>
	<string>factoryAtVisitor</string>
	<key>textBesideForm</key>
	<string>tensorExpandedTint</string>
	<key>toolStructureStyle</key>
	<string>optionUntilContext</string>
</dict>
</plist>
