<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionInstructionTheme</key>
	<string>managerChainFrequency</string>
	<key>crucialAssetInterval</key>
	<string>nodeCycleAppearance</string>
	<key>displayableRouteMomentum</key>
	<string>contractionShapeOrientation</string>
	<key>offsetWithoutEnvironment</key>
	<string>requiredCubeDepth</string>
	<key>sampleAboutCommand</key>
	<string>bufferCompositeSpeed</string>
	<key>scrollableDependencyHead</key>
	<string>baselineKindMode</string>
	<key>transitionMethodSize</key>
	<string>constCupertinoTension</string>
</dict>
</plist>
