<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianHeroOpacity</key>
	<string>storageIncludePhase</string>
	<key>elasticCustompaintInset</key>
	<string>groupContainMediator</string>
	<key>invisibleScaleInteraction</key>
	<string>segueExceptEnvironment</string>
	<key>listviewSinceMemento</key>
	<string>bitrateStateRate</string>
	<key>singleAlphaScale</key>
	<string>reactiveUtilColor</string>
</dict>
</plist>
