<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveViaStage</key>
	<string>routerAmongTemple</string>
	<key>errorAboutMethod</key>
	<string>radiusFunctionCount</string>
	<key>factoryBufferVisibility</key>
	<string>roleObserverSpacing</string>
	<key>routeAtVisitor</key>
	<string>radiusTierBound</string>
	<key>semanticZoneOrigin</key>
	<string>nativeMusicShape</string>
	<key>storyboardChainBrightness</key>
	<string>lossByNumber</string>
	<key>subsequentPresenterName</key>
	<string>sharedThreadSkewy</string>
	<key>transitionOrMediator</key>
	<string>lastLayoutRotation</string>
	<key>tweenUntilVisitor</key>
	<string>taskIncludeForm</string>
</dict>
</plist>
