<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAnchorResponse</key>
	<string>labelThroughContext</string>
	<key>customTickerPadding</key>
	<string>lossBeyondProcess</string>
	<key>grayscaleFlyweightInset</key>
	<string>commandVarStatus</string>
	<key>permissivePopupInterval</key>
	<string>unsortedAssetDelay</string>
	<key>significantSubpixelShade</key>
	<string>easyInteractorShape</string>
</dict>
</plist>
