<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedProgressbarSkewy</key>
	<string>alphaParamBound</string>
	<key>errorContainType</key>
	<string>grainPrototypeSkewy</string>
	<key>greatMetadataOffset</key>
	<string>textfieldTypeTension</string>
	<key>liteInterfaceForce</key>
	<string>dynamicMetadataShade</string>
	<key>logAwayShape</key>
	<string>concreteRectVisibility</string>
</dict>
</plist>
