<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationOutsideMediator</key>
	<string>parallelAwaitFormat</string>
	<key>dropdownbuttonWithObserver</key>
	<string>playbackAmongNumber</string>
	<key>exceptionAlongStage</key>
	<string>listenerPhaseTag</string>
	<key>intensityInTier</key>
	<string>chapterCompositeOrigin</string>
	<key>matrixSinceTier</key>
	<string>scrollableResourceVisibility</string>
	<key>referenceViaPrototype</key>
	<string>smartSubscriptionTop</string>
	<key>resolverInterpreterBound</key>
	<string>sizeObserverSaturation</string>
	<key>signatureThanProcess</key>
	<string>delicateUnaryHead</string>
</dict>
</plist>
