<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledCubitAppearance</key>
	<string>sophisticatedUtilDepth</string>
	<key>instructionVariableOffset</key>
	<string>delegateObserverAppearance</string>
	<key>logTempleInset</key>
	<string>futureStructureTail</string>
	<key>referenceScopeInterval</key>
	<string>keyRepositoryLocation</string>
	<key>substantialPositionedMode</key>
	<string>sessionVersusSystem</string>
	<key>viewInStrategy</key>
	<string>resourceMementoDensity</string>
</dict>
</plist>
