<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFacadeVisible</key>
	<string>explicitSinkContrast</string>
	<key>aspectratioContextDepth</key>
	<string>gridNearState</string>
	<key>bufferAtLayer</key>
	<string>sampleDespiteWork</string>
	<key>channelAroundVariable</key>
	<string>drawerPrototypeFlags</string>
	<key>independentKernelOrigin</key>
	<string>immediateOperationOrientation</string>
	<key>invisibleScaffoldSpeed</key>
	<string>multiIntensityMomentum</string>
	<key>mediumDurationValidation</key>
	<string>spriteUntilCommand</string>
	<key>priorBuilderDensity</key>
	<string>easyReductionContrast</string>
	<key>tableParameterCoord</key>
	<string>layerFrameworkHue</string>
	<key>tickerUntilTask</key>
	<string>mobileBesideTask</string>
</dict>
</plist>
