<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMasterTension</key>
	<string>animatedcontainerBufferFrequency</string>
	<key>animationExceptJob</key>
	<string>framePerStructure</string>
	<key>basicSymbolInterval</key>
	<string>sortedRectPadding</string>
	<key>ignoredMethodDensity</key>
	<string>staticPrioritySaturation</string>
	<key>lostProviderStyle</key>
	<string>sustainableFutureForce</string>
	<key>mutableAlphaBrightness</key>
	<string>certificateDespiteInterpreter</string>
	<key>priorityOrBuffer</key>
	<string>localEffectState</string>
	<key>textureDespiteBuffer</key>
	<string>eventViaParam</string>
</dict>
</plist>
