<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOutsideMethod</key>
	<string>desktopPositionValidation</string>
	<key>agileAlertSize</key>
	<string>observerProcessBound</string>
	<key>assetSystemLocation</key>
	<string>agileCellRate</string>
	<key>customizedPopupShape</key>
	<string>mainGateRotation</string>
	<key>gemScopeFlags</key>
	<string>symbolVersusPhase</string>
	<key>progressbarBeyondTemple</key>
	<string>mediumWidgetRate</string>
	<key>uniformBuilderAlignment</key>
	<string>asyncMarginEdge</string>
</dict>
</plist>
