<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerParameterValidation</key>
	<string>usedListenerInset</string>
	<key>plateStyleShape</key>
	<string>graphAlongState</string>
	<key>symbolCycleSpacing</key>
	<string>navigatorDecoratorFlags</string>
	<key>synchronousInterpolationBrightness</key>
	<string>easyDescriptionLocation</string>
</dict>
</plist>
