<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionByShape</key>
	<string>localCycleMode</string>
	<key>constraintInBuffer</key>
	<string>managerStrategyVisibility</string>
	<key>convolutionMediatorMode</key>
	<string>chartFacadeDepth</string>
	<key>desktopNodeName</key>
	<string>descriptionVersusMediator</string>
	<key>diversifiedCompositionOpacity</key>
	<string>publicMobileCoord</string>
	<key>fixedVectorFormat</key>
	<string>listviewShapeIndex</string>
	<key>rectWithoutAction</key>
	<string>advancedTransformerLocation</string>
	<key>slashChainAppearance</key>
	<string>cosineThanStage</string>
</dict>
</plist>
