<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedProviderTheme</key>
	<string>storyboardAsNumber</string>
	<key>animationLevelAppearance</key>
	<string>synchronousDelegateSize</string>
	<key>inheritedEntityCount</key>
	<string>crudeEntityBrightness</string>
	<key>listviewOutsideSystem</key>
	<string>resultChainAppearance</string>
	<key>particleBeyondTask</key>
	<string>descriptorInterpreterOrigin</string>
	<key>sensorAmongScope</key>
	<string>isolateOrTemple</string>
	<key>widgetActivityShade</key>
	<string>heroFlyweightLeft</string>
</dict>
</plist>
