<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionKindAcceleration</key>
	<string>nodeViaParam</string>
	<key>equalizationScopeVelocity</key>
	<string>channelShapeValidation</string>
	<key>loopForTemple</key>
	<string>inactiveLoopDirection</string>
	<key>mediaFacadeDensity</key>
	<string>permissiveCurveInset</string>
	<key>mutableCompleterIndex</key>
	<string>unsortedLogRate</string>
	<key>topicPhaseStatus</key>
	<string>tangentThanFramework</string>
</dict>
</plist>
