<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPhaseHead</key>
	<string>inactiveWidgetAppearance</string>
	<key>callbackNumberTheme</key>
	<string>delegateDespiteVariable</string>
	<key>documentByParam</key>
	<string>serviceVariableName</string>
	<key>protectedPointRight</key>
	<string>multiplicationMediatorShape</string>
	<key>signDuringMediator</key>
	<string>temporaryGetxLocation</string>
	<key>transformerTaskBehavior</key>
	<string>prevServiceInset</string>
</dict>
</plist>
