<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelExceptFramework</key>
	<string>exponentModeLocation</string>
	<key>crudeBuilderShape</key>
	<string>notificationPatternTop</string>
	<key>directCustompaintIndex</key>
	<string>deferredTickerTint</string>
	<key>inkwellDuringVar</key>
	<string>backwardCubitBound</string>
	<key>labelScopeCount</key>
	<string>resultParamCoord</string>
	<key>liteLabelColor</key>
	<string>otherMapDirection</string>
	<key>navigatorCompositeForce</key>
	<string>stampAmongTemple</string>
	<key>progressbarBesideDecorator</key>
	<string>directlyActionInset</string>
	<key>resultDespiteFunction</key>
	<string>composableResultLeft</string>
</dict>
</plist>
