<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorStructureRight</key>
	<string>swiftByJob</string>
	<key>assetContainPhase</key>
	<string>checklistAlongInterpreter</string>
	<key>projectDespiteForm</key>
	<string>lostMenuTint</string>
	<key>statefulShapeOrientation</key>
	<string>eventFromVar</string>
</dict>
</plist>
