<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSwitchBehavior</key>
	<string>masterSingletonOrientation</string>
	<key>commandSinceStrategy</key>
	<string>heroFacadeDistance</string>
	<key>constraintStateTint</key>
	<string>adaptiveGridRight</string>
	<key>gridFromMode</key>
	<string>graphPerParameter</string>
	<key>imperativeChapterMomentum</key>
	<string>stepJobSaturation</string>
	<key>marginVisitorColor</key>
	<string>cubitUntilOperation</string>
	<key>semanticsAwayParam</key>
	<string>advancedRowInterval</string>
	<key>sineActivityInset</key>
	<string>gemScopePadding</string>
	<key>stampFacadeSpacing</key>
	<string>iconLevelTheme</string>
	<key>staticActionOffset</key>
	<string>cubitStyleLocation</string>
</dict>
</plist>
