<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOrLevel</key>
	<string>popupBesideTier</string>
	<key>channelInAction</key>
	<string>widgetVersusMemento</string>
	<key>otherModelEdge</key>
	<string>scrollableTransformerDuration</string>
	<key>reducerEnvironmentSaturation</key>
	<string>projectThanSingleton</string>
	<key>referenceLayerMargin</key>
	<string>vectorProxyBound</string>
	<key>themeWithVariable</key>
	<string>animationInsideOperation</string>
	<key>touchDespitePlatform</key>
	<string>brushDuringAdapter</string>
</dict>
</plist>
