<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActivityCount</key>
	<string>interactiveStorageCenter</string>
	<key>multiplicationSinceTemple</key>
	<string>constraintSingletonInterval</string>
	<key>storageWithoutParam</key>
	<string>transitionTempleAlignment</string>
</dict>
</plist>
