<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitBridgeVisible</key>
	<string>symmetricStoryboardAcceleration</string>
	<key>currentPreviewFormat</key>
	<string>accordionDelegateStyle</string>
	<key>denseMediaVisible</key>
	<string>certificateStageHue</string>
	<key>inactiveReducerMargin</key>
	<string>routeUntilPrototype</string>
	<key>newestMediaqueryMomentum</key>
	<string>geometricReducerMomentum</string>
	<key>pageviewWithoutActivity</key>
	<string>eagerBufferTension</string>
</dict>
</plist>
