<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorBesideTier</key>
	<string>significantPlateCoord</string>
	<key>hardEquipmentCount</key>
	<string>storageCycleBehavior</string>
	<key>loopSystemMomentum</key>
	<string>mobileEntropyFormat</string>
	<key>numericalSegueHue</key>
	<string>offsetByVariable</string>
	<key>profileDecoratorColor</key>
	<string>gemIncludeMethod</string>
	<key>stateVariableStatus</key>
	<string>streamOutsideVariable</string>
</dict>
</plist>
