<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentOfPattern</key>
	<string>missionFacadeTail</string>
	<key>draggableStreamRotation</key>
	<string>metadataTaskRight</string>
	<key>euclideanExpandedDistance</key>
	<string>relationalTabviewSkewx</string>
	<key>flexibleBitratePadding</key>
	<string>cupertinoBesideBridge</string>
	<key>geometricCommandBrightness</key>
	<string>streamMediatorCenter</string>
	<key>imageWithTier</key>
	<string>screenOutsideContext</string>
	<key>rectAmongNumber</key>
	<string>equalizationAgainstPlatform</string>
	<key>skinWorkMode</key>
	<string>parallelSubpixelCenter</string>
</dict>
</plist>
