<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineViaJob</key>
	<string>newestControllerVisibility</string>
	<key>cursorKindAlignment</key>
	<string>metadataActivityDensity</string>
	<key>decorationCycleBorder</key>
	<string>easyCurveDirection</string>
	<key>decorationOrParameter</key>
	<string>blocVersusBridge</string>
	<key>methodAroundObserver</key>
	<string>playbackFromTask</string>
	<key>normalConvolutionRotation</key>
	<string>tableCycleScale</string>
	<key>resourceAroundMediator</key>
	<string>isolateWithSystem</string>
	<key>subscriptionWithAdapter</key>
	<string>managerNearWork</string>
	<key>textureStageRate</key>
	<string>previewAmongVariable</string>
	<key>usageChainForce</key>
	<string>crucialDrawerEdge</string>
</dict>
</plist>
