<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocForType</key>
	<string>composableLossPadding</string>
	<key>completerPrototypeLeft</key>
	<string>compositionModeInterval</string>
	<key>graphTypeSkewy</key>
	<string>tangentAroundAdapter</string>
	<key>heapStyleAcceleration</key>
	<string>completerPrototypeFeedback</string>
	<key>notifierOrStyle</key>
	<string>primaryHeapKind</string>
	<key>prevFrameDepth</key>
	<string>catalystStructureVelocity</string>
	<key>standaloneLogSpacing</key>
	<string>topicSingletonOrientation</string>
	<key>staticMarginState</key>
	<string>eventVisitorStatus</string>
	<key>variantSingletonColor</key>
	<string>topicAwayAdapter</string>
</dict>
</plist>
