<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDimensionFormat</key>
	<string>cubitAroundPlatform</string>
	<key>baselineSystemMomentum</key>
	<string>scrollableMasterRotation</string>
	<key>curveLikeScope</key>
	<string>gridAroundComposite</string>
	<key>euclideanResultBrightness</key>
	<string>delicateGateOrientation</string>
	<key>explicitSignMargin</key>
	<string>widgetAwayMode</string>
	<key>loopVersusType</key>
	<string>allocatorFrameworkName</string>
	<key>painterIncludeProxy</key>
	<string>curveChainBrightness</string>
	<key>repositoryBridgeType</key>
	<string>uniqueQueueKind</string>
	<key>seamlessPrecisionStyle</key>
	<string>listenerThanDecorator</string>
	<key>taskCycleVisibility</key>
	<string>firstOptionMomentum</string>
</dict>
</plist>
