<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDelegateBorder</key>
	<string>skirtTierLocation</string>
	<key>compositionalConstraintValidation</key>
	<string>modelDecoratorSpeed</string>
	<key>dedicatedButtonPadding</key>
	<string>retainedGestureSpeed</string>
	<key>directlyConstraintLocation</key>
	<string>sustainableTopicTail</string>
	<key>entityTaskFrequency</key>
	<string>exceptionViaCommand</string>
	<key>interactorContainParameter</key>
	<string>cacheSingletonState</string>
	<key>storageFunctionVisibility</key>
	<string>nodeAtComposite</string>
	<key>textureProcessDepth</key>
	<string>temporaryCompletionCenter</string>
	<key>zoneAgainstValue</key>
	<string>dedicatedMarginMode</string>
</dict>
</plist>
