<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryByMemento</key>
	<string>futureWorkForce</string>
	<key>characterWithoutCycle</key>
	<string>customPopupDuration</string>
	<key>durationCommandPressure</key>
	<string>techniquePerBuffer</string>
	<key>frameBySingleton</key>
	<string>pageviewSingletonContrast</string>
	<key>publicTabviewOrientation</key>
	<string>animatedcontainerLikeComposite</string>
	<key>touchInsideInterpreter</key>
	<string>storageSinceFramework</string>
	<key>unaryCycleMomentum</key>
	<string>specifyEntropyFlags</string>
</dict>
</plist>
