<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveIndicatorDuration</key>
	<string>visibleConstraintOffset</string>
	<key>builderLikeLevel</key>
	<string>textNearKind</string>
	<key>capacitiesBridgeInset</key>
	<string>documentModeVisibility</string>
	<key>concurrentFutureFormat</key>
	<string>layerExceptDecorator</string>
	<key>draggableGateMode</key>
	<string>boxshadowActionBrightness</string>
	<key>eventStyleCenter</key>
	<string>resourceBesideTemple</string>
	<key>keyMusicFeedback</key>
	<string>hierarchicalBatchSaturation</string>
	<key>popupFacadeDensity</key>
	<string>otherAwaitForce</string>
	<key>repositoryDespiteMethod</key>
	<string>sceneStrategyRate</string>
	<key>resolverVarOrigin</key>
	<string>firstMethodPadding</string>
</dict>
</plist>
