<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeServiceSaturation</key>
	<string>positionStageAcceleration</string>
	<key>animationOutsideTier</key>
	<string>chapterWorkResponse</string>
	<key>controllerCompositeShape</key>
	<string>visibleTextureScale</string>
	<key>iconTypeBound</key>
	<string>crudeRouterTail</string>
	<key>riverpodCycleResponse</key>
	<string>descriptorAsCycle</string>
	<key>storeUntilVariable</key>
	<string>toolStyleForce</string>
</dict>
</plist>
