<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileNibVelocity</key>
	<string>featureSystemDirection</string>
	<key>declarativeCompositionEdge</key>
	<string>tappableParticleMomentum</string>
	<key>operationByVar</key>
	<string>responseStructureDirection</string>
	<key>publicResourceInset</key>
	<string>heapLayerDensity</string>
	<key>routeAgainstStrategy</key>
	<string>draggableMomentumState</string>
	<key>subtleDialogsName</key>
	<string>declarativeStampAcceleration</string>
	<key>temporaryRowColor</key>
	<string>accessibleAssetValidation</string>
</dict>
</plist>
