<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopAccessoryInset</key>
	<string>movementStructureMargin</string>
	<key>diversifiedDocumentDelay</key>
	<string>webAspectRate</string>
	<key>effectAtFramework</key>
	<string>positionFromFacade</string>
	<key>ignoredLogTheme</key>
	<string>groupPrototypeTheme</string>
	<key>lossThroughValue</key>
	<string>nodeSystemStatus</string>
	<key>mediumModelScale</key>
	<string>capacitiesInsideProcess</string>
	<key>positionedAwayContext</key>
	<string>momentumForActivity</string>
	<key>protectedVariantDepth</key>
	<string>overlayActionOffset</string>
	<key>transformerOfStyle</key>
	<string>custompaintAgainstParameter</string>
	<key>variantOrAction</key>
	<string>injectionPrototypeBorder</string>
</dict>
</plist>
