<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLevelTension</key>
	<string>multiCallbackTint</string>
	<key>arithmeticTernaryEdge</key>
	<string>builderFromPrototype</string>
	<key>cycleMediatorKind</key>
	<string>switchAsChain</string>
	<key>immediateResourceTop</key>
	<string>sophisticatedMovementType</string>
	<key>inactiveRoleOpacity</key>
	<string>effectFlyweightIndex</string>
	<key>numericalSceneVelocity</key>
	<string>concreteButtonHead</string>
	<key>observerDecoratorSkewy</key>
	<string>normalCursorDuration</string>
	<key>persistentConsumerSkewy</key>
	<string>statelessCompositePressure</string>
	<key>pinchableRadiusForce</key>
	<string>stepCompositeDuration</string>
</dict>
</plist>
