<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalSinkOrigin</key>
	<string>granularGraphDirection</string>
	<key>dropdownbuttonBufferType</key>
	<string>baselineTierPosition</string>
	<key>durationPerType</key>
	<string>invisibleConstraintScale</string>
	<key>easyInjectionSpeed</key>
	<string>cursorViaNumber</string>
	<key>euclideanTaskDepth</key>
	<string>commandWithScope</string>
	<key>previewBufferTint</key>
	<string>routeForMediator</string>
	<key>responseAlongPattern</key>
	<string>declarativeStoryboardFeedback</string>
	<key>riverpodOrShape</key>
	<string>dimensionBesideStage</string>
	<key>sampleWithoutCycle</key>
	<string>sharedImageBehavior</string>
</dict>
</plist>
