<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerIncludeBuffer</key>
	<string>certificateInterpreterShade</string>
	<key>elasticGrainBottom</key>
	<string>transitionFromStructure</string>
	<key>entropyDuringStage</key>
	<string>nextCurveFlags</string>
	<key>euclideanSliderBottom</key>
	<string>materialAsyncAcceleration</string>
	<key>listenerTempleSpacing</key>
	<string>layerForShape</string>
	<key>pageviewProcessType</key>
	<string>monsterOutsidePhase</string>
	<key>referenceCompositeSize</key>
	<string>originalNormScale</string>
	<key>repositoryDecoratorSpacing</key>
	<string>decorationViaParam</string>
	<key>seguePatternStatus</key>
	<string>providerNearScope</string>
</dict>
</plist>
