<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartCompositeLeft</key>
	<string>sizedboxAdapterDuration</string>
	<key>mobileStructureName</key>
	<string>accessoryThroughCommand</string>
	<key>protocolOperationSkewy</key>
	<string>cupertinoBufferTail</string>
	<key>signInTask</key>
	<string>mediumListenerResponse</string>
	<key>ternaryWorkFeedback</key>
	<string>sessionInPlatform</string>
</dict>
</plist>
