<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocSinceComposite</key>
	<string>containerLayerSaturation</string>
	<key>geometricPlateIndex</key>
	<string>threadAtState</string>
	<key>mobileWithoutShape</key>
	<string>instructionParamTag</string>
	<key>skinBeyondEnvironment</key>
	<string>greatLoopAcceleration</string>
	<key>sortedFeatureCenter</key>
	<string>logarithmViaTier</string>
	<key>standaloneConstraintBorder</key>
	<string>activatedScaffoldVelocity</string>
	<key>tensorRowTension</key>
	<string>subscriptionScopeInset</string>
	<key>transitionOutsideBuffer</key>
	<string>geometricBlocType</string>
</dict>
</plist>
