<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAgainstComposite</key>
	<string>descriptionSingletonDensity</string>
	<key>frameFormRight</key>
	<string>sortedMarginLocation</string>
	<key>intensityContextSpeed</key>
	<string>futureOfWork</string>
	<key>sliderParameterBottom</key>
	<string>instructionDespiteTask</string>
	<key>sliderUntilInterpreter</key>
	<string>ignoredContainerName</string>
	<key>usageBufferOffset</key>
	<string>storeUntilTemple</string>
</dict>
</plist>
