<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerLikeProxy</key>
	<string>mapProxyShade</string>
	<key>disparateTextureCount</key>
	<string>consultativeStatelessRight</string>
	<key>futureFunctionSaturation</key>
	<string>fragmentForBridge</string>
	<key>notificationProxyDistance</key>
	<string>scaleDespiteOperation</string>
	<key>overlayViaProcess</key>
	<string>dedicatedCompletionVisibility</string>
	<key>providerByStructure</key>
	<string>displayableLayerInterval</string>
	<key>radiusAsLayer</key>
	<string>swiftStateName</string>
	<key>sampleVersusVisitor</key>
	<string>graphPlatformDistance</string>
	<key>workflowOutsideContext</key>
	<string>singleSliderTheme</string>
</dict>
</plist>
