<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDocumentOffset</key>
	<string>positionOfVariable</string>
	<key>customizedSpriteDepth</key>
	<string>inactiveAnimationRotation</string>
	<key>extensionLayerDuration</key>
	<string>permanentCosineBorder</string>
	<key>mobxActionSaturation</key>
	<string>progressbarContextLocation</string>
	<key>primaryInterfaceCoord</key>
	<string>errorMethodOrigin</string>
	<key>requiredStreamCenter</key>
	<string>particleStateFeedback</string>
	<key>uniqueEventTheme</key>
	<string>radioJobBrightness</string>
</dict>
</plist>
