<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelFrameworkStyle</key>
	<string>reductionInsideProxy</string>
	<key>checkboxVariableResponse</key>
	<string>heapInNumber</string>
	<key>localListenerOpacity</key>
	<string>adaptiveMonsterTheme</string>
	<key>paddingLikeFacade</key>
	<string>entityStageOpacity</string>
	<key>popupDuringPlatform</key>
	<string>pageviewFormVelocity</string>
	<key>referenceDuringBuffer</key>
	<string>dependencyBridgeInteraction</string>
	<key>resultAgainstFunction</key>
	<string>configurationKindTension</string>
	<key>staticDurationStyle</key>
	<string>staticAperturePosition</string>
	<key>tappablePositionDuration</key>
	<string>unactivatedCoordinatorTint</string>
	<key>unactivatedPlaybackTheme</key>
	<string>drawerForPattern</string>
</dict>
</plist>
