<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertOrChain</key>
	<string>boxshadowAroundBridge</string>
	<key>beginnerProtocolSkewy</key>
	<string>crudePopupSpeed</string>
	<key>characterBesideDecorator</key>
	<string>pointInCycle</string>
	<key>cubitAndMode</key>
	<string>layerActionDuration</string>
	<key>cubitIncludeInterpreter</key>
	<string>compositionParameterOffset</string>
	<key>grayscaleLikeKind</key>
	<string>capsuleParamBehavior</string>
	<key>resilientRichtextFlags</key>
	<string>immutableTaskKind</string>
	<key>temporaryExponentLeft</key>
	<string>spineFunctionForce</string>
	<key>tensorEffectInset</key>
	<string>projectionActivityOrigin</string>
</dict>
</plist>
