<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectEnvironmentAcceleration</key>
	<string>blocShapeAlignment</string>
	<key>asynchronousNodeDistance</key>
	<string>activeBuilderBrightness</string>
	<key>fusedBorderName</key>
	<string>draggableModelPadding</string>
	<key>gradientPhaseTag</key>
	<string>semanticUsecaseSpacing</string>
	<key>handlerVisitorType</key>
	<string>reductionFunctionAppearance</string>
	<key>primaryRadiusVisible</key>
	<string>activatedCoordinatorPadding</string>
</dict>
</plist>
