<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileViewCoord</key>
	<string>compositionFrameworkShape</string>
	<key>contractionAtBridge</key>
	<string>advancedRemainderInset</string>
	<key>explicitContractionPadding</key>
	<string>graphOrVariable</string>
	<key>factoryProcessSkewy</key>
	<string>viewScopeDensity</string>
	<key>gateOrProxy</key>
	<string>opaqueResolverOffset</string>
	<key>missionMementoTheme</key>
	<string>reducerViaChain</string>
	<key>smallChannelTransparency</key>
	<string>projectContainInterpreter</string>
	<key>workflowPlatformFormat</key>
	<string>clipperContainStage</string>
</dict>
</plist>
