<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationNearPhase</key>
	<string>textureWithoutComposite</string>
	<key>delicateSpotFeedback</key>
	<string>visibleProviderMargin</string>
	<key>inactiveHistogramContrast</key>
	<string>frameEnvironmentLeft</string>
	<key>interactiveResourceFlags</key>
	<string>chapterAdapterName</string>
	<key>intermediateModulusVisible</key>
	<string>secondSingletonName</string>
	<key>interpolationCommandDirection</key>
	<string>singletonAgainstType</string>
	<key>robustFeatureVelocity</key>
	<string>richtextActivityCenter</string>
	<key>sizeInPlatform</key>
	<string>sceneNearChain</string>
	<key>streamLevelTransparency</key>
	<string>animatedcontainerMethodAppearance</string>
</dict>
</plist>
