<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAboutWork</key>
	<string>vectorDecoratorDuration</string>
	<key>crucialContainerHue</key>
	<string>containerJobTop</string>
	<key>custompaintAndLayer</key>
	<string>taskInsideVisitor</string>
	<key>durationLevelDepth</key>
	<string>hashContextName</string>
	<key>handlerOrFunction</key>
	<string>intensityMediatorFeedback</string>
	<key>permanentLogarithmTransparency</key>
	<string>asyncCompositeStatus</string>
	<key>pivotalIntensityBehavior</key>
	<string>assetBySingleton</string>
	<key>projectParameterTag</key>
	<string>layerSystemSkewx</string>
	<key>segmentUntilMemento</key>
	<string>routeByType</string>
	<key>transitionTypeSkewy</key>
	<string>reusableCallbackTension</string>
</dict>
</plist>
