<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorNearFlyweight</key>
	<string>awaitNearSingleton</string>
	<key>effectProxyOrigin</key>
	<string>flexibleMapSpacing</string>
	<key>eventStateVelocity</key>
	<string>arithmeticUtilDelay</string>
	<key>hyperbolicCustompaintVisible</key>
	<string>listviewOutsideProxy</string>
	<key>momentumUntilInterpreter</key>
	<string>diversifiedNodeType</string>
	<key>mutableDocumentDensity</key>
	<string>buttonParamMode</string>
	<key>reducerViaMediator</key>
	<string>enabledInterpolationMomentum</string>
</dict>
</plist>
