<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableScaffoldPosition</key>
	<string>requiredAsyncContrast</string>
	<key>diversifiedUsageVisibility</key>
	<string>giftAndStyle</string>
	<key>notificationProxyHead</key>
	<string>parallelSkirtName</string>
	<key>queryBesideCommand</key>
	<string>titleMementoOffset</string>
	<key>rectStrategyLocation</key>
	<string>listenerCycleAppearance</string>
	<key>spotProxyRate</key>
	<string>dedicatedCaptionForce</string>
	<key>statefulLayoutRight</key>
	<string>resultProxyMode</string>
</dict>
</plist>
