<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityExceptStage</key>
	<string>storeAroundChain</string>
	<key>textProcessHue</key>
	<string>smartPositionStatus</string>
	<key>typicalChapterFrequency</key>
	<string>activityThroughBuffer</string>
</dict>
</plist>
