<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorInterpreterHead</key>
	<string>normalErrorKind</string>
	<key>eventPhaseInterval</key>
	<string>actionOfFunction</string>
	<key>positionAroundPhase</key>
	<string>tweenVisitorContrast</string>
	<key>sliderDespiteAction</key>
	<string>hashJobTag</string>
</dict>
</plist>
