<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianWorkflowType</key>
	<string>currentSwiftDistance</string>
	<key>isolateProxyLocation</key>
	<string>routerFormIndex</string>
	<key>originalRadiusDuration</key>
	<string>staticScreenLeft</string>
	<key>reusableHashBottom</key>
	<string>requiredInkwellBound</string>
</dict>
</plist>
