<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNearFunction</key>
	<string>painterStructureSkewy</string>
	<key>callbackThanChain</key>
	<string>cosinePatternType</string>
	<key>discardedAlignmentForce</key>
	<string>gridProxyFlags</string>
	<key>gridAlongShape</key>
	<string>featureVariableAcceleration</string>
	<key>intensityLikeInterpreter</key>
	<string>responseFromMethod</string>
	<key>newestDurationStatus</key>
	<string>heroContextTint</string>
	<key>singleVariantOrigin</key>
	<string>animatedHistogramRight</string>
	<key>sortedNormDirection</key>
	<string>integerOrDecorator</string>
</dict>
</plist>
