<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTempleStyle</key>
	<string>advancedSineDensity</string>
	<key>coordinatorFacadeContrast</key>
	<string>nibAboutAction</string>
	<key>mobileMasterName</key>
	<string>keyOperationHead</string>
	<key>multiAnimationBrightness</key>
	<string>resultVisitorDelay</string>
	<key>priorNavigationVelocity</key>
	<string>alertLikeVar</string>
	<key>queryDespiteSingleton</key>
	<string>alertKindStatus</string>
	<key>segueBesideState</key>
	<string>disabledEntityHead</string>
</dict>
</plist>
