<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedBuilderRotation</key>
	<string>convolutionValueTag</string>
	<key>challengeStageTop</key>
	<string>protectedResourceResponse</string>
	<key>coordinatorPerAction</key>
	<string>scaleBeyondTemple</string>
	<key>effectDuringComposite</key>
	<string>interactorInsideTemple</string>
	<key>exponentAboutScope</key>
	<string>advancedProjectionVelocity</string>
	<key>significantColumnRotation</key>
	<string>immediateGateSize</string>
</dict>
</plist>
