<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocScopeVisible</key>
	<string>sinkFunctionInterval</string>
	<key>channelContainForm</key>
	<string>fragmentKindDepth</string>
	<key>composableBuilderEdge</key>
	<string>previewByMemento</string>
	<key>cycleViaMode</key>
	<string>cosineProxyDensity</string>
	<key>desktopDrawerMargin</key>
	<string>secondVariantScale</string>
	<key>explicitMethodName</key>
	<string>factoryAwayMethod</string>
	<key>frameAroundProxy</key>
	<string>eventThanPhase</string>
	<key>observerVarDirection</key>
	<string>previewObserverMode</string>
	<key>promiseNearFramework</key>
	<string>agileTableRotation</string>
	<key>requestShapeMode</key>
	<string>smallControllerDistance</string>
</dict>
</plist>
