<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerTempleAlignment</key>
	<string>materialWithMethod</string>
	<key>durationPrototypeSpeed</key>
	<string>utilAmongKind</string>
	<key>hierarchicalHistogramDirection</key>
	<string>usedSingletonOrientation</string>
	<key>serviceEnvironmentSpacing</key>
	<string>aspectratioContainMediator</string>
	<key>textExceptStrategy</key>
	<string>observerWithoutFramework</string>
	<key>toolModeColor</key>
	<string>layerOutsideParameter</string>
</dict>
</plist>
