<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerGrainOrigin</key>
	<string>radiusWorkRight</string>
	<key>blocMementoType</key>
	<string>effectNearBridge</string>
	<key>delicateNotifierSaturation</key>
	<string>configurationSystemVelocity</string>
	<key>descriptorAwayFunction</key>
	<string>unactivatedCommandSkewy</string>
	<key>exceptionAlongCommand</key>
	<string>modulusVisitorMargin</string>
	<key>frameMethodMomentum</key>
	<string>symmetricScaleOffset</string>
	<key>gridPhaseCoord</key>
	<string>sessionValueOpacity</string>
	<key>significantEffectCenter</key>
	<string>singleConstraintCoord</string>
	<key>slashAlongPlatform</key>
	<string>enabledStatelessMargin</string>
</dict>
</plist>
