<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionPositionDuration</key>
	<string>layoutVariableVisible</string>
	<key>marginLevelContrast</key>
	<string>statefulDuringParam</string>
	<key>profileCompositeTension</key>
	<string>transformerJobMargin</string>
	<key>scaffoldObserverAcceleration</key>
	<string>zoneContextType</string>
	<key>scaleAboutObserver</key>
	<string>reducerAwayChain</string>
	<key>semanticsOrActivity</key>
	<string>projectMethodPosition</string>
	<key>spineOutsideInterpreter</key>
	<string>declarativeHistogramDensity</string>
	<key>temporaryInteractorShape</key>
	<string>storageAroundSystem</string>
	<key>transformerAgainstPrototype</key>
	<string>textureMementoAlignment</string>
</dict>
</plist>
