<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalPrecisionShade</key>
	<string>bitrateMethodTop</string>
	<key>managerOfMode</key>
	<string>tableExceptVariable</string>
	<key>mediaqueryInsideStrategy</key>
	<string>textureParameterBorder</string>
	<key>missedHandlerSkewx</key>
	<string>subtleRichtextTail</string>
	<key>retainedLoopSkewx</key>
	<string>directlyPopupContrast</string>
	<key>sceneSingletonShade</key>
	<string>methodCommandMargin</string>
	<key>statefulChainBehavior</key>
	<string>sceneCommandForce</string>
	<key>statelessLayerCount</key>
	<string>publicAllocatorOrientation</string>
	<key>symmetricSignatureTag</key>
	<string>loopStyleScale</string>
	<key>titleObserverDepth</key>
	<string>reusableInstructionCount</string>
</dict>
</plist>
