<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegatePhasePressure</key>
	<string>customPositionAppearance</string>
	<key>frameProxyBottom</key>
	<string>materialAgainstCommand</string>
	<key>independentSizedboxSpacing</key>
	<string>subtleShaderForce</string>
	<key>nibTypeVelocity</key>
	<string>zoneDespiteType</string>
	<key>techniqueModeBottom</key>
	<string>intermediateCoordinatorSpacing</string>
	<key>usecaseFormBehavior</key>
	<string>interactorUntilType</string>
</dict>
</plist>
