<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionAboutInterpreter</key>
	<string>techniqueStrategyFlags</string>
	<key>globalMovementOffset</key>
	<string>tweenByFunction</string>
	<key>inheritedStoryboardFrequency</key>
	<string>uniformDescriptionDuration</string>
	<key>labelContextTension</key>
	<string>utilProcessTint</string>
	<key>taskWithLevel</key>
	<string>storeAndTemple</string>
	<key>titleAndTask</key>
	<string>spineContextBrightness</string>
	<key>vectorFunctionDuration</key>
	<string>viewAlongState</string>
</dict>
</plist>
