<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandLikeType</key>
	<string>assetNumberDuration</string>
	<key>completionBeyondOperation</key>
	<string>projectForLevel</string>
	<key>multiplicationBesideProcess</key>
	<string>cartesianWidgetBottom</string>
	<key>musicForLayer</key>
	<string>permissiveAspectPosition</string>
	<key>spriteCycleColor</key>
	<string>captionContainProxy</string>
	<key>viewAboutObserver</key>
	<string>smallDurationCenter</string>
</dict>
</plist>
