<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartModeCenter</key>
	<string>uniqueRequestCount</string>
	<key>descriptorOutsideForm</key>
	<string>decorationProxyTail</string>
	<key>frameFacadeFeedback</key>
	<string>iterativeTransformerTheme</string>
	<key>navigatorNearChain</key>
	<string>capacitiesShapeScale</string>
	<key>protectedIconInset</key>
	<string>labelInsideScope</string>
	<key>radiusFacadeSkewy</key>
	<string>delegatePerComposite</string>
	<key>relationalOptionResponse</key>
	<string>serviceAmongForm</string>
	<key>segmentInterpreterTop</key>
	<string>cubeFacadeSize</string>
	<key>shaderInTask</key>
	<string>matrixVisitorSaturation</string>
	<key>subsequentAsyncDelay</key>
	<string>observerWithFunction</string>
</dict>
</plist>
