<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanAxisDelay</key>
	<string>tappableAsyncRight</string>
	<key>ignoredSignatureType</key>
	<string>fragmentInsideTemple</string>
	<key>inkwellViaLevel</key>
	<string>specifierParameterTension</string>
	<key>priorPopupIndex</key>
	<string>previewFromComposite</string>
	<key>semanticsStateContrast</key>
	<string>titleViaPattern</string>
	<key>sizedboxMediatorStyle</key>
	<string>effectLayerHue</string>
	<key>slashStageEdge</key>
	<string>scaleScopeTransparency</string>
	<key>vectorPerShape</key>
	<string>composableCupertinoCount</string>
</dict>
</plist>
