<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOutsideVar</key>
	<string>kernelDecoratorCenter</string>
	<key>captionPerInterpreter</key>
	<string>transitionOperationTransparency</string>
	<key>characterIncludeCommand</key>
	<string>projectionStructureDuration</string>
	<key>labelAboutMemento</key>
	<string>widgetFunctionIndex</string>
	<key>layerShapeAppearance</key>
	<string>callbackPatternTop</string>
	<key>marginInsideEnvironment</key>
	<string>resilientRichtextMode</string>
	<key>mediocreRadiusSize</key>
	<string>compositionalTechniqueResponse</string>
	<key>sessionWorkForce</key>
	<string>capsuleProxyTail</string>
	<key>spriteCommandDistance</key>
	<string>storyboardPatternResponse</string>
	<key>tableInsideValue</key>
	<string>assetActionType</string>
</dict>
</plist>
