<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderLayerTag</key>
	<string>fragmentUntilObserver</string>
	<key>capsuleTypeRate</key>
	<string>aspectAroundEnvironment</string>
	<key>customModelState</key>
	<string>controllerAwayMemento</string>
	<key>repositoryUntilStage</key>
	<string>skirtWithoutVisitor</string>
	<key>resourceBeyondValue</key>
	<string>gesturedetectorProxyTension</string>
</dict>
</plist>
