<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetIncludeShape</key>
	<string>iterativeLoopTheme</string>
	<key>blocDespiteVariable</key>
	<string>grainModeHead</string>
	<key>declarativeHandlerMargin</key>
	<string>notificationAlongTemple</string>
	<key>desktopCubitLeft</key>
	<string>positionForStrategy</string>
	<key>explicitProviderScale</key>
	<string>statelessPerPlatform</string>
	<key>methodWithoutPhase</key>
	<string>concurrentAxisFlags</string>
	<key>notifierDuringLayer</key>
	<string>characterOfTemple</string>
	<key>sliderAroundCommand</key>
	<string>musicKindTint</string>
</dict>
</plist>
