<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRadiusVisibility</key>
	<string>prevChapterSaturation</string>
	<key>agileGridviewOrientation</key>
	<string>subsequentAnimationType</string>
	<key>canvasAroundComposite</key>
	<string>channelWithFlyweight</string>
	<key>consumerByForm</key>
	<string>cubitWithAction</string>
	<key>criticalStepInterval</key>
	<string>singletonDecoratorBottom</string>
	<key>elasticSinkMargin</key>
	<string>greatDurationOpacity</string>
	<key>enabledCompletionBehavior</key>
	<string>instructionStageAlignment</string>
	<key>standaloneAssetTension</key>
	<string>retainedMaterialAppearance</string>
</dict>
</plist>
