<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAboutForm</key>
	<string>protectedSampleSize</string>
	<key>behaviorDespiteLayer</key>
	<string>sineAmongFlyweight</string>
	<key>crucialChannelAlignment</key>
	<string>durationInterpreterInteraction</string>
	<key>crucialChapterKind</key>
	<string>normalCycleInteraction</string>
	<key>inactiveFramePosition</key>
	<string>extensionAwayProxy</string>
	<key>intensityNearInterpreter</key>
	<string>widgetEnvironmentVisible</string>
	<key>labelActivityBound</key>
	<string>navigatorAwayTask</string>
	<key>metadataBufferInset</key>
	<string>asynchronousDescriptionKind</string>
</dict>
</plist>
