<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateVersusTier</key>
	<string>matrixDecoratorRotation</string>
	<key>buttonInterpreterMode</key>
	<string>sampleNumberCoord</string>
	<key>completerTempleBorder</key>
	<string>unaryStructureTension</string>
	<key>decorationWithoutPlatform</key>
	<string>constraintPerSystem</string>
	<key>dimensionInStrategy</key>
	<string>interfaceTierShade</string>
	<key>euclideanTextureOffset</key>
	<string>anchorAgainstType</string>
	<key>musicAboutForm</key>
	<string>cartesianConvolutionCoord</string>
	<key>repositoryKindDepth</key>
	<string>cupertinoViewHue</string>
</dict>
</plist>
