<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWorkTint</key>
	<string>bufferAtProcess</string>
	<key>coordinatorAroundPlatform</key>
	<string>animationCommandPosition</string>
	<key>curveContainMethod</key>
	<string>extensionFlyweightHead</string>
	<key>interactiveDropdownbuttonShade</key>
	<string>independentSignRate</string>
	<key>multiplicationBeyondParam</key>
	<string>durationPlatformState</string>
	<key>reductionFlyweightIndex</key>
	<string>managerDespiteTask</string>
	<key>segmentPatternContrast</key>
	<string>nativeDecorationFeedback</string>
	<key>threadModeName</key>
	<string>missionSystemOpacity</string>
	<key>tweenChainRotation</key>
	<string>storyboardMethodInset</string>
	<key>widgetStrategyHead</key>
	<string>configurationNumberDepth</string>
</dict>
</plist>
