<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLayerSkewx</key>
	<string>statelessDecorationDuration</string>
	<key>grainSinceType</key>
	<string>pointMementoDepth</string>
	<key>labelInsideMode</key>
	<string>sophisticatedReferenceRight</string>
	<key>requiredTimerBorder</key>
	<string>cubeUntilType</string>
	<key>smartTickerInterval</key>
	<string>labelInAction</string>
	<key>stackMementoPosition</key>
	<string>projectDespitePhase</string>
	<key>storyboardProxyOrigin</key>
	<string>brushContextResponse</string>
</dict>
</plist>
