<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystLikeVariable</key>
	<string>activityTempleOffset</string>
	<key>presenterInterpreterFeedback</key>
	<string>checkboxPlatformLeft</string>
	<key>promiseAtFacade</key>
	<string>checklistBesideParam</string>
	<key>resultInOperation</key>
	<string>animationViaSystem</string>
</dict>
</plist>
