<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterAroundPlatform</key>
	<string>monsterInProxy</string>
	<key>cubitMementoVelocity</key>
	<string>semanticColumnBorder</string>
	<key>interfaceValueValidation</key>
	<string>offsetMementoTheme</string>
	<key>statelessViewFeedback</key>
	<string>completionStateSize</string>
</dict>
</plist>
