<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonBoxshadowTension</key>
	<string>alphaPrototypeIndex</string>
	<key>coordinatorFunctionIndex</key>
	<string>activityMethodSpacing</string>
	<key>dimensionAwayLayer</key>
	<string>aperturePerShape</string>
	<key>indicatorMethodFormat</key>
	<string>managerActionOffset</string>
	<key>mainNavigatorRight</key>
	<string>pinchableServiceOffset</string>
	<key>menuChainShape</key>
	<string>nibTaskResponse</string>
	<key>requestAtShape</key>
	<string>alphaAwayType</string>
	<key>slashSincePattern</key>
	<string>coordinatorVariableShape</string>
	<key>streamKindDepth</key>
	<string>inheritedTextShape</string>
	<key>vectorTierContrast</key>
	<string>ignoredQueryMode</string>
</dict>
</plist>
