<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAlphaName</key>
	<string>mobxMediatorDistance</string>
	<key>behaviorOperationOrientation</key>
	<string>vectorSincePattern</string>
	<key>buttonOperationLocation</key>
	<string>permissiveHeapFrequency</string>
	<key>factoryFlyweightDensity</key>
	<string>liteActionDepth</string>
	<key>scaleProcessDistance</key>
	<string>characterParamTension</string>
	<key>substantialActionDistance</key>
	<string>heapValueTint</string>
	<key>tabbarPlatformDistance</key>
	<string>entropyIncludePattern</string>
</dict>
</plist>
