<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedVariantMomentum</key>
	<string>buttonTypeSize</string>
	<key>awaitCycleDensity</key>
	<string>fragmentVariableVelocity</string>
	<key>featureAwayVar</key>
	<string>usecaseBridgeDelay</string>
	<key>frameThroughScope</key>
	<string>slashLikeTask</string>
	<key>granularRectName</key>
	<string>spriteFacadePadding</string>
	<key>greatGramBound</key>
	<string>normalDescriptionCoord</string>
	<key>intermediateResourceTint</key>
	<string>grainPhaseInteraction</string>
	<key>sineExceptFlyweight</key>
	<string>elasticCapsuleMargin</string>
	<key>stateForAction</key>
	<string>iconAndSystem</string>
</dict>
</plist>
