<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardTransformerVisible</key>
	<string>collectionInterpreterSpacing</string>
	<key>heapAwayParameter</key>
	<string>optimizerLikeSystem</string>
	<key>immutableAlphaMomentum</key>
	<string>timerSystemCoord</string>
	<key>offsetSinceFlyweight</key>
	<string>futureVarSaturation</string>
	<key>sceneStyleCoord</key>
	<string>statefulListenerScale</string>
</dict>
</plist>
