<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionJobOffset</key>
	<string>desktopQueueBehavior</string>
	<key>reductionIncludeJob</key>
	<string>containerFacadePosition</string>
	<key>seamlessLayoutCount</key>
	<string>topicModeDirection</string>
	<key>sortedChartShade</key>
	<string>routerVersusLevel</string>
	<key>specifyGridviewName</key>
	<string>momentumNearBridge</string>
	<key>ternaryCompositeType</key>
	<string>intensityObserverSpacing</string>
</dict>
</plist>
