<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeAsFunction</key>
	<string>textureVersusInterpreter</string>
	<key>easyEquipmentTint</key>
	<string>providerBridgeTail</string>
	<key>presenterContextAcceleration</key>
	<string>greatSliderFlags</string>
	<key>unactivatedListenerSpacing</key>
	<string>transitionCompositeDuration</string>
	<key>unactivatedNavigatorDelay</key>
	<string>skirtInsideStrategy</string>
</dict>
</plist>
