<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedBuilderInterval</key>
	<string>pageviewJobForce</string>
	<key>autoCatalystDensity</key>
	<string>configurationAtJob</string>
	<key>decorationThroughDecorator</key>
	<string>uniqueFeatureFlags</string>
	<key>prevDimensionBrightness</key>
	<string>synchronousTransitionName</string>
	<key>textAlongComposite</key>
	<string>constManagerInterval</string>
	<key>timerFromTask</key>
	<string>awaitFromCycle</string>
	<key>uniqueFragmentAppearance</key>
	<string>anchorThanSystem</string>
	<key>widgetPrototypeTail</key>
	<string>awaitAmongVar</string>
</dict>
</plist>
