<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintProxyInteraction</key>
	<string>gradientOrVariable</string>
	<key>contractionOrProcess</key>
	<string>decorationAroundDecorator</string>
	<key>diffableDelegateName</key>
	<string>pivotalServiceSpeed</string>
	<key>interactorFunctionOrigin</key>
	<string>imperativeInkwellFeedback</string>
	<key>sophisticatedCommandVisibility</key>
	<string>responsiveUnaryContrast</string>
	<key>techniqueAwayScope</key>
	<string>resolverExceptJob</string>
</dict>
</plist>
