<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAmongShape</key>
	<string>keyCardVelocity</string>
	<key>exceptionSinceTemple</key>
	<string>scrollStrategyAppearance</string>
	<key>memberBesideOperation</key>
	<string>materialIntegerMargin</string>
	<key>navigatorExceptBridge</key>
	<string>difficultCupertinoShape</string>
	<key>radioOutsideChain</key>
	<string>requestBesideMemento</string>
	<key>sliderModeTheme</key>
	<string>featureFromAction</string>
	<key>tableDecoratorFormat</key>
	<string>diversifiedFeatureSpacing</string>
	<key>widgetActivityAppearance</key>
	<string>mobileCycleSpeed</string>
</dict>
</plist>
