<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateProxyInterval</key>
	<string>lazyMonsterVelocity</string>
	<key>bulletFlyweightVisible</key>
	<string>decorationParameterSize</string>
	<key>ignoredStateMode</key>
	<string>particleAsDecorator</string>
	<key>keyDocumentMode</key>
	<string>numericalSubscriptionDistance</string>
	<key>listenerDecoratorSkewy</key>
	<string>reducerTempleIndex</string>
	<key>profileDecoratorTransparency</key>
	<string>actionForType</string>
	<key>rowBridgePressure</key>
	<string>entityTempleSaturation</string>
</dict>
</plist>
