<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardWithCommand</key>
	<string>textVersusType</string>
	<key>columnValueVisible</key>
	<string>behaviorAgainstSingleton</string>
	<key>exceptionStylePadding</key>
	<string>sceneNearValue</string>
	<key>graphFrameworkEdge</key>
	<string>agilePositionBehavior</string>
	<key>particleForStructure</key>
	<string>previewInsideMemento</string>
	<key>scaleFunctionDirection</key>
	<string>techniqueNumberFrequency</string>
</dict>
</plist>
