<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityMediatorSkewy</key>
	<string>curveAgainstSystem</string>
	<key>cosineChainLocation</key>
	<string>sliderTempleMargin</string>
	<key>deferredObserverRate</key>
	<string>subsequentNibSpeed</string>
	<key>expandedNumberState</key>
	<string>histogramPrototypeTag</string>
	<key>immediateAccessoryTail</key>
	<string>iterativeGetxInteraction</string>
	<key>priorLossStatus</key>
	<string>enabledCustompaintOrigin</string>
	<key>radiusShapeMargin</key>
	<string>equalizationParamVelocity</string>
	<key>tabviewOrLevel</key>
	<string>groupWithForm</string>
</dict>
</plist>
