<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBridgeMomentum</key>
	<string>customizedCapsuleVisibility</string>
	<key>autoTopicBehavior</key>
	<string>streamContainBuffer</string>
	<key>dedicatedPreviewSpacing</key>
	<string>animatedPointHead</string>
	<key>documentKindLeft</key>
	<string>mainCompositionFrequency</string>
	<key>imperativeStreamCoord</key>
	<string>fixedCatalystAlignment</string>
	<key>labelBeyondNumber</key>
	<string>listenerStructureTop</string>
	<key>rapidScaleInset</key>
	<string>significantNibTail</string>
	<key>singletonTypeBrightness</key>
	<string>kernelViaLevel</string>
	<key>statefulFutureRight</key>
	<string>commandNearCommand</string>
	<key>statefulRowPosition</key>
	<string>transitionInSystem</string>
</dict>
</plist>
