<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletAmongMediator</key>
	<string>sineShapeHead</string>
	<key>declarativeLoopRight</key>
	<string>rectActivityPressure</string>
	<key>disparatePresenterSaturation</key>
	<string>toolAgainstStructure</string>
	<key>durationChainBorder</key>
	<string>nibPatternTransparency</string>
	<key>expandedPlatformDirection</key>
	<string>crucialAnimationOffset</string>
	<key>invisibleCubitCoord</key>
	<string>instructionPerType</string>
	<key>layerAdapterHead</key>
	<string>particleLayerMargin</string>
	<key>symmetricAwaitAlignment</key>
	<string>cosineAwayStrategy</string>
	<key>topicWithWork</key>
	<string>synchronousRemainderLocation</string>
</dict>
</plist>
