<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperPlatformBottom</key>
	<string>hashJobPosition</string>
	<key>completionVersusVariable</key>
	<string>routeContainMode</string>
	<key>dependencyOutsideOperation</key>
	<string>borderViaParameter</string>
	<key>dimensionIncludeJob</key>
	<string>baseAsProxy</string>
	<key>graphContainSingleton</key>
	<string>directlyCurveTint</string>
	<key>metadataAgainstPrototype</key>
	<string>bitrateLikeCommand</string>
	<key>robustNodeForce</key>
	<string>injectionKindTransparency</string>
	<key>tensorGraphicScale</key>
	<string>granularRouterSaturation</string>
</dict>
</plist>
