<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedLabelStyle</key>
	<string>firstBufferDuration</string>
	<key>decorationEnvironmentInset</key>
	<string>nativeNormSpacing</string>
	<key>graphVisitorTag</key>
	<string>exponentForTemple</string>
	<key>layerCommandRight</key>
	<string>graphicAgainstFunction</string>
	<key>operationStyleSkewy</key>
	<string>richtextTierResponse</string>
	<key>resourceIncludeFlyweight</key>
	<string>dimensionModeSkewx</string>
	<key>semanticDependencyState</key>
	<string>compositionCommandTheme</string>
	<key>subpixelFromCommand</key>
	<string>matrixActionOffset</string>
	<key>viewContextDepth</key>
	<string>newestProviderDistance</string>
</dict>
</plist>
