<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOfWork</key>
	<string>concreteOffsetInteraction</string>
	<key>deferredGemFlags</key>
	<string>concreteRadioDensity</string>
	<key>disabledInteractorPadding</key>
	<string>rowEnvironmentFlags</string>
	<key>grayscaleOrLevel</key>
	<string>baselineActivityForce</string>
	<key>labelCommandStatus</key>
	<string>binaryKindBottom</string>
	<key>pointSinceParameter</key>
	<string>lostExpandedDelay</string>
	<key>resizableTransitionBorder</key>
	<string>capacitiesDuringPrototype</string>
</dict>
</plist>
