<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOrWork</key>
	<string>baseOperationSize</string>
	<key>arithmeticVersusObserver</key>
	<string>collectionBesideProxy</string>
	<key>asyncTickerAlignment</key>
	<string>toolInsidePrototype</string>
	<key>otherStateCount</key>
	<string>immutableLabelRotation</string>
	<key>particleWithoutStage</key>
	<string>buttonContextBound</string>
	<key>slashThanWork</key>
	<string>deferredExpandedTheme</string>
</dict>
</plist>
