<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryCompositeRate</key>
	<string>independentMomentumCount</string>
	<key>capacitiesTaskSize</key>
	<string>timerDuringBridge</string>
	<key>geometricExceptionTheme</key>
	<string>actionNumberTension</string>
	<key>histogramMethodOrientation</key>
	<string>consultativePlaybackTint</string>
	<key>integerLevelFrequency</key>
	<string>resultTypeLeft</string>
	<key>resourceDecoratorPadding</key>
	<string>routerNearSingleton</string>
</dict>
</plist>
