<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleObserverAlignment</key>
	<string>binaryAlongObserver</string>
	<key>arithmeticContainProcess</key>
	<string>commandActivityLeft</string>
	<key>backwardAnimationStatus</key>
	<string>buttonStageMode</string>
	<key>exponentDespitePlatform</key>
	<string>statelessFunctionBottom</string>
	<key>memberMementoSpacing</key>
	<string>smartCursorOrientation</string>
	<key>newestThemeFlags</key>
	<string>tickerVariableContrast</string>
	<key>roleAmongEnvironment</key>
	<string>interfaceValueLeft</string>
	<key>specifySessionRate</key>
	<string>controllerLikeKind</string>
	<key>usecaseThanParam</key>
	<string>futureAsContext</string>
</dict>
</plist>
