<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedUnaryTint</key>
	<string>lossPrototypeMargin</string>
	<key>buttonExceptShape</key>
	<string>grainJobValidation</string>
	<key>captionStagePosition</key>
	<string>convolutionThroughTier</string>
	<key>intuitiveFactoryCenter</key>
	<string>positionIncludePhase</string>
	<key>listenerPrototypeRate</key>
	<string>curveAmongMode</string>
	<key>robustBlocDepth</key>
	<string>statefulSizeCenter</string>
	<key>stackThroughObserver</key>
	<string>fixedResponseDuration</string>
</dict>
</plist>
