<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewExceptStrategy</key>
	<string>smartStatefulDelay</string>
	<key>responseMementoBorder</key>
	<string>futureLikeSystem</string>
	<key>stampEnvironmentAcceleration</key>
	<string>consumerStateResponse</string>
</dict>
</plist>
