<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateByPrototype</key>
	<string>featureForWork</string>
	<key>layerModeShape</key>
	<string>projectionAmongActivity</string>
	<key>priorityDespiteTemple</key>
	<string>skinAmongCommand</string>
	<key>usedRouterSkewy</key>
	<string>capacitiesAboutStructure</string>
</dict>
</plist>
