<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoContainerDepth</key>
	<string>routeBufferSize</string>
	<key>eagerRichtextScale</key>
	<string>accessoryBeyondFlyweight</string>
	<key>geometricReducerSpacing</key>
	<string>menuWithMemento</string>
	<key>instructionAtTask</key>
	<string>routerAmongFacade</string>
	<key>interactiveNormVisible</key>
	<string>skirtStrategyOrientation</string>
	<key>remainderPhaseFormat</key>
	<string>richtextUntilAdapter</string>
	<key>spineInterpreterScale</key>
	<string>lastGraphMode</string>
	<key>tappableSineTension</key>
	<string>swiftParameterCenter</string>
</dict>
</plist>
