<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventPlatformOpacity</key>
	<string>interactorStrategyBottom</string>
	<key>grainNearFacade</key>
	<string>constraintTempleVisible</string>
	<key>modelCompositeLocation</key>
	<string>positionBridgeFlags</string>
	<key>mutableHistogramState</key>
	<string>shaderAlongAdapter</string>
	<key>optimizerStrategyAcceleration</key>
	<string>injectionModeShade</string>
	<key>standaloneMediaqueryAlignment</key>
	<string>aspectratioAmongMemento</string>
</dict>
</plist>
