<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGroupPadding</key>
	<string>enabledTechniqueSize</string>
	<key>builderDuringSystem</key>
	<string>dedicatedModalRight</string>
	<key>gestureAgainstScope</key>
	<string>flexIncludeProxy</string>
	<key>priorPreviewDensity</key>
	<string>interfaceUntilVariable</string>
	<key>progressbarParamShape</key>
	<string>mainSymbolLocation</string>
	<key>secondRouteBound</key>
	<string>routerDecoratorForce</string>
	<key>shaderTaskTint</key>
	<string>difficultTableRate</string>
	<key>textureDuringForm</key>
	<string>prismaticApertureOffset</string>
	<key>unactivatedResourceDistance</key>
	<string>callbackContextForce</string>
</dict>
</plist>
