<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredTweenState</key>
	<string>scrollableHashHue</string>
	<key>extensionStyleVelocity</key>
	<string>permanentTernaryFrequency</string>
	<key>futureAdapterFlags</key>
	<string>dimensionFrameworkResponse</string>
	<key>requiredCaptionFrequency</key>
	<string>animationSingletonType</string>
	<key>specifyChartBrightness</key>
	<string>builderBeyondNumber</string>
	<key>subpixelVisitorTop</key>
	<string>sampleTierEdge</string>
	<key>techniqueVisitorInterval</key>
	<string>gesturedetectorActionRate</string>
	<key>viewOrInterpreter</key>
	<string>resizableBlocVisible</string>
</dict>
</plist>
