<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionPerFunction</key>
	<string>interfaceAlongContext</string>
	<key>ephemeralPreviewState</key>
	<string>unsortedRadiusHue</string>
	<key>functionalBitrateCount</key>
	<string>publicMethodInterval</string>
	<key>prismaticTransitionDelay</key>
	<string>sharedLayoutName</string>
	<key>scaffoldScopeSpeed</key>
	<string>queryOutsideBridge</string>
</dict>
</plist>
