<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorTaskLocation</key>
	<string>textContainShape</string>
	<key>draggableEffectColor</key>
	<string>methodAwayPhase</string>
	<key>interactorAdapterContrast</key>
	<string>cursorBesideTask</string>
	<key>layoutJobTint</key>
	<string>graphNearInterpreter</string>
	<key>responsiveNormPadding</key>
	<string>newestFeatureTransparency</string>
	<key>scaffoldOrProxy</key>
	<string>entropyAmongWork</string>
	<key>sizeLevelTag</key>
	<string>finalBlocKind</string>
	<key>tickerFrameworkAlignment</key>
	<string>screenCycleResponse</string>
</dict>
</plist>
