<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionLevelRate</key>
	<string>rowInMode</string>
	<key>concreteTransformerSpeed</key>
	<string>subtleAlphaBound</string>
	<key>coordinatorPrototypeTransparency</key>
	<string>consumerVersusPrototype</string>
	<key>intermediateBehaviorBottom</key>
	<string>labelCycleTheme</string>
	<key>scrollableWorkflowTension</key>
	<string>delegateSingletonAcceleration</string>
	<key>significantStorageMargin</key>
	<string>asyncDuringBridge</string>
</dict>
</plist>
