<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameActionType</key>
	<string>listenerValueOrigin</string>
	<key>lazyHistogramColor</key>
	<string>scrollableChartState</string>
	<key>streamWithoutVariable</key>
	<string>protocolPerProxy</string>
	<key>webTickerVisible</key>
	<string>exceptionAndInterpreter</string>
</dict>
</plist>
