<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePopupInteraction</key>
	<string>consumerForSystem</string>
	<key>cartesianAssetLeft</key>
	<string>secondCycleOrientation</string>
	<key>constraintFormSkewx</key>
	<string>errorParamCount</string>
	<key>criticalMenuTransparency</key>
	<string>reducerStructureCount</string>
	<key>layoutAlongShape</key>
	<string>routeCompositeTint</string>
	<key>lazyMethodSize</key>
	<string>bufferCommandTheme</string>
	<key>mutablePointHead</key>
	<string>zoneParameterMode</string>
	<key>segmentAboutCycle</key>
	<string>segueObserverPadding</string>
	<key>substantialIndicatorAcceleration</key>
	<string>protectedScreenStyle</string>
</dict>
</plist>
