<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionScopeLeft</key>
	<string>textfieldChainResponse</string>
	<key>batchAdapterBrightness</key>
	<string>semanticsTaskAlignment</string>
	<key>denseInkwellDuration</key>
	<string>fusedSliderBottom</string>
	<key>explicitSemanticsValidation</key>
	<string>offsetFacadePosition</string>
	<key>histogramProxyState</key>
	<string>interactorTypeShade</string>
	<key>immutableUnaryHue</key>
	<string>boxMediatorOffset</string>
	<key>rectVarDelay</key>
	<string>appbarAdapterMomentum</string>
	<key>reducerParameterSpeed</key>
	<string>grainAlongPrototype</string>
	<key>relationalGiftAlignment</key>
	<string>multiplicationActivityMargin</string>
	<key>scrollableFeatureMargin</key>
	<string>dialogsStateDensity</string>
</dict>
</plist>
