<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localRowFlags</key>
	<string>injectionSincePlatform</string>
	<key>nodeVarHue</key>
	<string>resolverFlyweightAppearance</string>
	<key>popupInsideDecorator</key>
	<string>layerLayerInterval</string>
	<key>repositoryStructureType</key>
	<string>difficultSampleOffset</string>
	<key>transitionExceptNumber</key>
	<string>substantialGramShade</string>
</dict>
</plist>
