<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCursorAppearance</key>
	<string>localizationVisitorFormat</string>
	<key>eventAwayFlyweight</key>
	<string>disparateApertureRotation</string>
	<key>originalTernaryBound</key>
	<string>positionContainBuffer</string>
	<key>pointCommandRate</key>
	<string>frameAndAction</string>
	<key>scrollContainVariable</key>
	<string>discardedDelegateDepth</string>
	<key>similarLossBottom</key>
	<string>adaptiveTaskContrast</string>
	<key>sustainableQueryDepth</key>
	<string>operationAboutKind</string>
</dict>
</plist>
