<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAmongChain</key>
	<string>cardAroundVar</string>
	<key>dimensionPhaseFeedback</key>
	<string>cursorShapeRight</string>
	<key>listenerWithoutFacade</key>
	<string>blocBeyondContext</string>
	<key>rectVisitorVisible</key>
	<string>customConfigurationSpeed</string>
	<key>scrollableGramForce</key>
	<string>oldCoordinatorFlags</string>
</dict>
</plist>
