<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedBehaviorVelocity</key>
	<string>associatedRowBorder</string>
	<key>aspectMediatorSkewx</key>
	<string>hierarchicalLocalizationAcceleration</string>
	<key>ephemeralReducerCount</key>
	<string>webDimensionLeft</string>
	<key>futureOrStructure</key>
	<string>entityAmongSingleton</string>
	<key>granularMultiplicationTheme</key>
	<string>textAndVariable</string>
	<key>instructionNearMemento</key>
	<string>resolverSingletonOffset</string>
	<key>presenterAdapterHead</key>
	<string>deferredRowDuration</string>
	<key>responseAsProxy</key>
	<string>completerObserverStyle</string>
	<key>swiftViaActivity</key>
	<string>navigatorPerMode</string>
</dict>
</plist>
