<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxContainObserver</key>
	<string>routerEnvironmentSpeed</string>
	<key>contractionFlyweightLeft</key>
	<string>optionEnvironmentAppearance</string>
	<key>hardCommandShade</key>
	<string>sinkContainState</string>
	<key>immediateHistogramForce</key>
	<string>utilBufferRight</string>
	<key>indicatorDuringContext</key>
	<string>subscriptionFunctionFrequency</string>
	<key>movementOperationPressure</key>
	<string>substantialTickerDensity</string>
	<key>opaqueInterfaceState</key>
	<string>dependencyAroundVar</string>
	<key>reductionSinceBridge</key>
	<string>richtextVisitorRight</string>
	<key>robustAspectAlignment</key>
	<string>mobxForVariable</string>
	<key>symbolFacadePadding</key>
	<string>histogramModeInteraction</string>
</dict>
</plist>
