<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticActivityTag</key>
	<string>localBehaviorAcceleration</string>
	<key>callbackChainBrightness</key>
	<string>alignmentVersusTask</string>
	<key>chartLikeWork</key>
	<string>custompaintProxyMomentum</string>
	<key>indicatorAtFunction</key>
	<string>newestButtonName</string>
	<key>interactorOperationDuration</key>
	<string>basicReferenceHead</string>
	<key>listenerInNumber</key>
	<string>synchronousOffsetRotation</string>
	<key>matrixVisitorSkewx</key>
	<string>labelLikeSingleton</string>
	<key>reducerPatternAcceleration</key>
	<string>subtleReducerDensity</string>
	<key>subpixelInterpreterMode</key>
	<string>geometricCursorFormat</string>
	<key>visibleIntegerFormat</key>
	<string>relationalFrameInterval</string>
</dict>
</plist>
