<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStrategyType</key>
	<string>histogramBeyondKind</string>
	<key>delegateVersusProxy</key>
	<string>cosineChainAcceleration</string>
	<key>mediaqueryShapeLocation</key>
	<string>cubitStageForce</string>
	<key>previewChainFormat</key>
	<string>inkwellJobDistance</string>
	<key>radioMementoDistance</key>
	<string>discardedChannelsFeedback</string>
	<key>significantBoxshadowLeft</key>
	<string>tabbarDuringTemple</string>
	<key>swiftIncludeLayer</key>
	<string>visibleMomentumTheme</string>
	<key>transformerInterpreterVisible</key>
	<string>globalMissionAlignment</string>
</dict>
</plist>
