<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationActionPressure</key>
	<string>activatedGemMargin</string>
	<key>appbarSinceDecorator</key>
	<string>greatCallbackOrientation</string>
	<key>memberBufferColor</key>
	<string>signatureFromFlyweight</string>
	<key>priorGesturedetectorDepth</key>
	<string>sequentialStoryboardName</string>
</dict>
</plist>
