<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxyVelocity</key>
	<string>hashCommandScale</string>
	<key>containerFlyweightType</key>
	<string>independentBaselineBorder</string>
	<key>difficultTaskCenter</key>
	<string>cursorContainProxy</string>
	<key>euclideanTimerVelocity</key>
	<string>permissiveRadiusCount</string>
	<key>granularNotificationDelay</key>
	<string>particleAsTier</string>
	<key>interactorMementoDistance</key>
	<string>assetWithTask</string>
	<key>sharedStoryboardDuration</key>
	<string>contractionAndType</string>
	<key>storageForComposite</key>
	<string>statelessTaskVisible</string>
	<key>workflowOperationTension</key>
	<string>accessibleUtilLocation</string>
</dict>
</plist>
