<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerVersusPattern</key>
	<string>gradientActivityFeedback</string>
	<key>effectBufferVisible</key>
	<string>optimizerBeyondInterpreter</string>
	<key>groupOrChain</key>
	<string>sensorEnvironmentAlignment</string>
	<key>interfaceUntilStyle</key>
	<string>cardInsidePhase</string>
	<key>mutableIntensityBottom</key>
	<string>fixedTickerAlignment</string>
	<key>precisionScopeScale</key>
	<string>intuitiveSizeLeft</string>
	<key>projectProcessTail</key>
	<string>assetAsTask</string>
	<key>substantialMobileTop</key>
	<string>scaffoldActivityBorder</string>
</dict>
</plist>
