<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitContainerAppearance</key>
	<string>crucialEntropyDirection</string>
	<key>histogramModeDepth</key>
	<string>transitionWithBridge</string>
	<key>imageExceptVar</key>
	<string>presenterIncludeVisitor</string>
	<key>lostChapterOpacity</key>
	<string>descriptionDecoratorSpacing</string>
	<key>radioAndMethod</key>
	<string>callbackAlongBuffer</string>
	<key>spriteForTemple</key>
	<string>liteLabelShape</string>
	<key>uniformSubpixelOffset</key>
	<string>channelVisitorTheme</string>
</dict>
</plist>
