<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoColumnKind</key>
	<string>matrixValueSkewx</string>
	<key>localConstraintBorder</key>
	<string>ephemeralTableFlags</string>
	<key>streamFromMemento</key>
	<string>fixedReductionBottom</string>
	<key>utilAroundFunction</key>
	<string>navigationWithState</string>
</dict>
</plist>
