<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileParticleStatus</key>
	<string>specifyReferenceOrigin</string>
	<key>consultativeSignMode</key>
	<string>commandContainSingleton</string>
	<key>lazyFragmentDepth</key>
	<string>storagePrototypePadding</string>
	<key>lazySegmentColor</key>
	<string>baselineStructureTail</string>
	<key>navigatorChainSize</key>
	<string>nibMethodTension</string>
	<key>parallelSizedboxOrigin</key>
	<string>desktopMetadataPressure</string>
	<key>queryCommandCoord</key>
	<string>modelPrototypeInterval</string>
	<key>serviceThroughLayer</key>
	<string>bitrateProxyInset</string>
	<key>sizeLayerSize</key>
	<string>mobileBuilderPadding</string>
</dict>
</plist>
