<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineExceptObserver</key>
	<string>associatedMemberAppearance</string>
	<key>eagerFlexContrast</key>
	<string>spriteSinceStage</string>
	<key>hyperbolicCacheColor</key>
	<string>layerWorkLeft</string>
	<key>imageProcessTension</key>
	<string>storageFlyweightMargin</string>
	<key>nodeBesideStrategy</key>
	<string>responsiveSampleShade</string>
	<key>protectedRepositoryMomentum</key>
	<string>bufferFormDelay</string>
	<key>radiusFlyweightForce</key>
	<string>protectedColumnDirection</string>
	<key>subsequentRowMargin</key>
	<string>gateSinceProxy</string>
	<key>typicalVectorTail</key>
	<string>sharedVectorTheme</string>
</dict>
</plist>
