<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonInsideStructure</key>
	<string>immutableInteractorCoord</string>
	<key>buttonInterpreterName</key>
	<string>navigatorIncludeAdapter</string>
	<key>eagerStackTail</key>
	<string>cubitDespiteInterpreter</string>
	<key>entropyCycleTransparency</key>
	<string>matrixAlongMode</string>
	<key>sliderStructureInset</key>
	<string>channelAlongMode</string>
	<key>synchronousRouteMomentum</key>
	<string>ephemeralSwiftForce</string>
</dict>
</plist>
