<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryMementoCoord</key>
	<string>tappableBatchLeft</string>
	<key>curveOfLayer</key>
	<string>animatedChecklistFormat</string>
	<key>localizationParamContrast</key>
	<string>deferredLossLocation</string>
	<key>rowLayerInteraction</key>
	<string>gramOperationOpacity</string>
	<key>rowOperationPressure</key>
	<string>managerForSystem</string>
	<key>scaffoldOperationBound</key>
	<string>deferredStoreVisibility</string>
	<key>smartKernelRate</key>
	<string>cardActionFeedback</string>
</dict>
</plist>
