<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityContainState</key>
	<string>easyVariantPadding</string>
	<key>constraintNearCommand</key>
	<string>hardTernarySkewy</string>
	<key>eagerChannelValidation</key>
	<string>baseThanBridge</string>
	<key>lazyZoneBrightness</key>
	<string>normalDurationMargin</string>
	<key>mobxOutsideProcess</key>
	<string>sizeThanCommand</string>
	<key>parallelSpriteValidation</key>
	<string>loopWithWork</string>
	<key>prevChannelType</key>
	<string>matrixThanFlyweight</string>
</dict>
</plist>
