<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialChartShape</key>
	<string>visibleRepositoryName</string>
	<key>rectLayerAppearance</key>
	<string>dependencyVisitorDirection</string>
	<key>workflowExceptStructure</key>
	<string>diversifiedResponseCount</string>
</dict>
</plist>
