<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBoxshadowDensity</key>
	<string>descriptionPhaseResponse</string>
	<key>constAnimationFrequency</key>
	<string>constDrawerShade</string>
	<key>injectionSystemName</key>
	<string>curveOperationShape</string>
	<key>mediaDecoratorDelay</key>
	<string>asynchronousProjectionSkewx</string>
	<key>normalButtonInset</key>
	<string>accordionPreviewState</string>
	<key>pointTempleMomentum</key>
	<string>usageContextHead</string>
	<key>popupModeState</key>
	<string>commandInTier</string>
	<key>segueOfNumber</key>
	<string>largeCacheStyle</string>
	<key>topicPrototypeLeft</key>
	<string>asyncLayoutEdge</string>
</dict>
</plist>
