<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationForKind</key>
	<string>effectDecoratorValidation</string>
	<key>buttonValueSaturation</key>
	<string>basicConstraintMode</string>
	<key>decorationMediatorBrightness</key>
	<string>repositoryNearJob</string>
	<key>ephemeralMapAppearance</key>
	<string>featureInsideForm</string>
	<key>factoryBridgeBottom</key>
	<string>permanentMapOrientation</string>
	<key>sequentialGridviewTail</key>
	<string>spriteParameterCoord</string>
	<key>similarCupertinoShape</key>
	<string>remainderWithoutParam</string>
</dict>
</plist>
