<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanTextfieldBottom</key>
	<string>pointVersusLevel</string>
	<key>projectProxyStyle</key>
	<string>stateAmongStructure</string>
	<key>skirtTierSpacing</key>
	<string>resultAlongFlyweight</string>
	<key>transitionAboutSystem</key>
	<string>scaffoldShapeEdge</string>
	<key>tweenForParameter</key>
	<string>exceptionStageCoord</string>
	<key>uniqueRequestTheme</key>
	<string>coordinatorForStage</string>
</dict>
</plist>
