<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateLikeProcess</key>
	<string>behaviorProcessVisible</string>
	<key>directResponseDelay</key>
	<string>routerAdapterFrequency</string>
	<key>extensionVariableFlags</key>
	<string>richtextTierMomentum</string>
	<key>opaqueContainerDensity</key>
	<string>accordionZoneCoord</string>
	<key>prevSliderVisibility</key>
	<string>transformerStyleScale</string>
	<key>smartObserverCount</key>
	<string>animationAmongPhase</string>
	<key>threadStateRight</key>
	<string>multiplicationBufferTint</string>
	<key>topicPlatformSaturation</key>
	<string>gateThanFlyweight</string>
	<key>transitionSinceKind</key>
	<string>viewNumberTint</string>
</dict>
</plist>
