<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateActionTop</key>
	<string>consultativeStreamStatus</string>
	<key>containerPerFunction</key>
	<string>semanticProjectInterval</string>
	<key>ternaryVersusMethod</key>
	<string>awaitForChain</string>
</dict>
</plist>
