<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerParameterSkewx</key>
	<string>constRouteBound</string>
	<key>descriptorLevelShape</key>
	<string>localizationLevelOpacity</string>
	<key>eventUntilForm</key>
	<string>currentRouteValidation</string>
	<key>routeBesideMode</key>
	<string>decorationStructureOrigin</string>
</dict>
</plist>
