<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerShapeSkewx</key>
	<string>grayscaleStatePressure</string>
	<key>delegateVersusOperation</key>
	<string>progressbarSinceFunction</string>
	<key>inactiveDecorationDepth</key>
	<string>disparatePetTransparency</string>
	<key>modelOrBuffer</key>
	<string>effectVersusInterpreter</string>
	<key>queueThroughMediator</key>
	<string>textureByCommand</string>
	<key>respectiveAccessoryState</key>
	<string>servicePatternLocation</string>
</dict>
</plist>
