<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicFrameVelocity</key>
	<string>substantialStatelessTheme</string>
	<key>characterOutsideStyle</key>
	<string>reducerDecoratorBottom</string>
	<key>controllerObserverEdge</key>
	<string>aspectratioIncludeState</string>
	<key>currentSubscriptionAppearance</key>
	<string>firstSpineSkewx</string>
	<key>localizationViaType</key>
	<string>navigatorAlongProcess</string>
	<key>nativeUtilType</key>
	<string>factorySingletonLeft</string>
	<key>nodeShapeCoord</key>
	<string>repositoryIncludeTier</string>
	<key>originalAlphaKind</key>
	<string>isolateModeOrientation</string>
	<key>stampNearInterpreter</key>
	<string>reusableSizeMargin</string>
	<key>unsortedStatefulInteraction</key>
	<string>popupAtMethod</string>
</dict>
</plist>
