<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorMediatorMargin</key>
	<string>checklistPhaseDuration</string>
	<key>constraintAndMethod</key>
	<string>canvasNearFramework</string>
	<key>descriptionUntilStructure</key>
	<string>serviceStrategyDelay</string>
	<key>groupLevelSaturation</key>
	<string>painterCycleCenter</string>
	<key>managerNumberVelocity</key>
	<string>chartWithoutState</string>
	<key>missionOrTask</key>
	<string>consultativeModulusBehavior</string>
	<key>multiplicationOfComposite</key>
	<string>rowWorkDistance</string>
	<key>resourceJobState</key>
	<string>decorationFormFormat</string>
</dict>
</plist>
