<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorWithoutType</key>
	<string>durationNearValue</string>
	<key>elasticPreviewPressure</key>
	<string>draggableTableSkewy</string>
	<key>groupAndJob</key>
	<string>deferredEntityShape</string>
	<key>nodeBesideStage</key>
	<string>storageExceptPrototype</string>
	<key>transformerCompositeDirection</key>
	<string>textDespiteAction</string>
</dict>
</plist>
