<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveProxyShade</key>
	<string>liteOffsetSkewx</string>
	<key>enabledNotificationStatus</key>
	<string>layerBufferBehavior</string>
	<key>menuInCommand</key>
	<string>lossAboutSingleton</string>
	<key>normContainForm</key>
	<string>cartesianCapacitiesAlignment</string>
	<key>sensorContextMomentum</key>
	<string>immediateNavigatorPosition</string>
	<key>zoneDespiteValue</key>
	<string>signFlyweightLeft</string>
</dict>
</plist>
