<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityOfPhase</key>
	<string>routeViaInterpreter</string>
	<key>advancedProfileStatus</key>
	<string>blocAsFacade</string>
	<key>descriptorTempleBound</key>
	<string>liteInterfacePressure</string>
	<key>numericalNavigationSpeed</key>
	<string>parallelActivityVisibility</string>
	<key>routeOutsidePlatform</key>
	<string>tensorPointLocation</string>
	<key>significantChannelsBrightness</key>
	<string>buttonVisitorFeedback</string>
	<key>specifierPhaseTail</key>
	<string>allocatorCompositeTheme</string>
</dict>
</plist>
