<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredLogSpeed</key>
	<string>descriptionViaDecorator</string>
	<key>mobxThanOperation</key>
	<string>sharedMobileKind</string>
	<key>reducerScopeTag</key>
	<string>protocolAwayValue</string>
	<key>requestSystemEdge</key>
	<string>completerVariableSkewy</string>
	<key>sinkAsStyle</key>
	<string>controllerExceptTier</string>
	<key>spotWithFramework</key>
	<string>materialExceptSingleton</string>
	<key>storeProxyKind</key>
	<string>statelessCustompaintStyle</string>
	<key>transformerStyleFrequency</key>
	<string>presenterSystemAppearance</string>
</dict>
</plist>
