<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerExceptCycle</key>
	<string>flexiblePainterForce</string>
	<key>curveDespitePhase</key>
	<string>viewShapeShade</string>
	<key>gemForLayer</key>
	<string>concurrentMenuOffset</string>
	<key>liteTextureDuration</key>
	<string>granularQueueOpacity</string>
	<key>materialMapValidation</key>
	<string>dynamicUsecaseFormat</string>
	<key>navigatorBufferAcceleration</key>
	<string>kernelStructureRotation</string>
	<key>persistentTickerRotation</key>
	<string>basicStatefulTop</string>
	<key>semanticsLevelAlignment</key>
	<string>relationalControllerDuration</string>
	<key>switchContainSystem</key>
	<string>queryUntilParameter</string>
	<key>temporaryAllocatorSpacing</key>
	<string>gemWorkTop</string>
</dict>
</plist>
