<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByCommand</key>
	<string>bitrateMediatorTail</string>
	<key>completerAgainstMethod</key>
	<string>graphAgainstPlatform</string>
	<key>cursorStructureBrightness</key>
	<string>actionWorkCoord</string>
	<key>descriptorWorkHead</key>
	<string>textStructureShade</string>
	<key>dialogsOfBuffer</key>
	<string>significantSpritePosition</string>
	<key>giftValueBrightness</key>
	<string>optimizerWithoutProcess</string>
	<key>intermediateOptionStatus</key>
	<string>baseCycleSpacing</string>
	<key>providerPrototypeContrast</key>
	<string>accordionResourceColor</string>
	<key>titleThroughParam</key>
	<string>controllerTypePressure</string>
</dict>
</plist>
