<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTransitionTag</key>
	<string>statelessTierMomentum</string>
	<key>certificateExceptPlatform</key>
	<string>sophisticatedPlateVisible</string>
	<key>factorySinceNumber</key>
	<string>unsortedSpriteColor</string>
	<key>mediaqueryStageSkewx</key>
	<string>offsetExceptMediator</string>
	<key>sessionDecoratorLeft</key>
	<string>matrixUntilValue</string>
	<key>specifierBufferOffset</key>
	<string>pinchableScreenBound</string>
	<key>synchronousBufferDistance</key>
	<string>behaviorAsMemento</string>
</dict>
</plist>
