<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOrForm</key>
	<string>channelsVarCoord</string>
	<key>completerAndState</key>
	<string>gridviewVersusParam</string>
	<key>composableVectorDelay</key>
	<string>descriptionVariableTheme</string>
	<key>curveProxyShape</key>
	<string>activatedProviderTag</string>
	<key>explicitDecorationDirection</key>
	<string>memberBridgeHead</string>
	<key>observerTempleFeedback</key>
	<string>desktopDelegateDepth</string>
	<key>queryForPhase</key>
	<string>gateAlongKind</string>
	<key>sustainableManagerPosition</key>
	<string>reducerFlyweightTail</string>
</dict>
</plist>
