<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSkinRotation</key>
	<string>stateWithoutType</string>
	<key>bufferCycleOrientation</key>
	<string>mediocreMenuBottom</string>
	<key>independentTickerDuration</key>
	<string>sophisticatedBufferTheme</string>
</dict>
</plist>
