<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveListenerValidation</key>
	<string>textureByAdapter</string>
	<key>criticalListenerStyle</key>
	<string>mapUntilProxy</string>
	<key>monsterVariableRate</key>
	<string>heroViaProxy</string>
	<key>petOutsidePattern</key>
	<string>mapJobLocation</string>
	<key>rapidListviewScale</key>
	<string>equalizationContainBuffer</string>
	<key>rowExceptFacade</key>
	<string>customSliderForce</string>
	<key>sequentialBehaviorTop</key>
	<string>offsetAlongMode</string>
</dict>
</plist>
