<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constDelegatePressure</key>
	<string>ephemeralStepRight</string>
	<key>deferredGraphCenter</key>
	<string>observerNumberValidation</string>
	<key>flexibleCurveLocation</key>
	<string>configurationFromPlatform</string>
	<key>hierarchicalSkinVelocity</key>
	<string>dynamicTechniqueSaturation</string>
</dict>
</plist>
