<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStageEdge</key>
	<string>sizedboxAsVar</string>
	<key>clipperThanWork</key>
	<string>curveOrVariable</string>
	<key>decorationLevelSkewx</key>
	<string>mutableIndicatorHead</string>
	<key>diffableModelDepth</key>
	<string>customFactoryTheme</string>
	<key>firstApertureContrast</key>
	<string>eagerPlaybackCoord</string>
	<key>gridSingletonInteraction</key>
	<string>seamlessExpandedBottom</string>
	<key>heapWithMemento</key>
	<string>concurrentIntensitySkewx</string>
	<key>histogramTierBound</key>
	<string>sinkVersusLevel</string>
	<key>sustainableSessionTag</key>
	<string>sinkIncludePattern</string>
</dict>
</plist>
