<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerForce</key>
	<string>modelProxyFormat</string>
	<key>basicColumnVisible</key>
	<string>injectionOrCommand</string>
	<key>fixedDimensionTail</key>
	<string>positionedThanBuffer</string>
	<key>singletonFromKind</key>
	<string>symmetricTweenFormat</string>
	<key>sizedboxFromStyle</key>
	<string>layerBesideContext</string>
	<key>storageJobRotation</key>
	<string>hierarchicalSliderType</string>
	<key>usageCycleBrightness</key>
	<string>columnMethodVisible</string>
</dict>
</plist>
