<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorContainJob</key>
	<string>borderModeSpeed</string>
	<key>boxshadowAlongDecorator</key>
	<string>arithmeticButtonColor</string>
	<key>effectShapeTag</key>
	<string>declarativeAspectBrightness</string>
	<key>missionThanLevel</key>
	<string>protectedChapterEdge</string>
	<key>oldCoordinatorOrigin</key>
	<string>asynchronousCursorSkewx</string>
	<key>parallelGiftTransparency</key>
	<string>lastEffectOffset</string>
	<key>reusableLayerResponse</key>
	<string>statefulCustompaintDuration</string>
	<key>transitionNumberBehavior</key>
	<string>responseEnvironmentScale</string>
</dict>
</plist>
