<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystBridgeAcceleration</key>
	<string>constGestureLeft</string>
	<key>heapBufferDensity</key>
	<string>positionedInsideOperation</string>
	<key>inactiveCupertinoValidation</key>
	<string>inactiveSlashBottom</string>
	<key>localizationScopeBound</key>
	<string>protocolWithVariable</string>
	<key>radiusTaskType</key>
	<string>variantLayerForce</string>
	<key>smartReducerSize</key>
	<string>scrollableServiceTag</string>
	<key>standaloneMetadataCoord</key>
	<string>baselineWithoutTask</string>
	<key>workflowWorkOrigin</key>
	<string>profileModeCenter</string>
</dict>
</plist>
