<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryShapeSize</key>
	<string>cupertinoInState</string>
	<key>builderAtActivity</key>
	<string>blocThroughFunction</string>
	<key>customizedSineRight</key>
	<string>constraintAwayFunction</string>
	<key>declarativeProgressbarTop</key>
	<string>themeAdapterStyle</string>
	<key>numericalActionPosition</key>
	<string>repositoryParameterAlignment</string>
	<key>observerAsPlatform</key>
	<string>compositionTaskDepth</string>
	<key>previewAdapterEdge</key>
	<string>crucialChartDirection</string>
	<key>sophisticatedGemTag</key>
	<string>navigatorOutsideFacade</string>
	<key>tensorGridviewTop</key>
	<string>metadataProxyBorder</string>
</dict>
</plist>
