<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPlatformFormat</key>
	<string>delicateSegueResponse</string>
	<key>certificateFromBuffer</key>
	<string>inheritedButtonSkewy</string>
	<key>contractionAsJob</key>
	<string>smallManagerSize</string>
	<key>dependencyAtMediator</key>
	<string>queryCommandAppearance</string>
	<key>directlyResourceKind</key>
	<string>futureFunctionName</string>
	<key>effectAroundInterpreter</key>
	<string>accessoryOutsideStrategy</string>
	<key>parallelButtonDepth</key>
	<string>sequentialGrainCoord</string>
	<key>priorDelegateDepth</key>
	<string>petMementoTag</string>
	<key>queryDespiteInterpreter</key>
	<string>assetParameterColor</string>
	<key>vectorFromForm</key>
	<string>bitrateOfVisitor</string>
</dict>
</plist>
