<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicInjectionContrast</key>
	<string>responseTempleBottom</string>
	<key>exponentDecoratorRight</key>
	<string>taskOutsideInterpreter</string>
	<key>mediocreGrainDirection</key>
	<string>skirtOutsideValue</string>
	<key>operationWorkPosition</key>
	<string>listenerAboutTemple</string>
	<key>resourceThanChain</key>
	<string>comprehensiveLogarithmInset</string>
	<key>secondErrorTop</key>
	<string>specifyCoordinatorSpeed</string>
	<key>standaloneListenerTransparency</key>
	<string>subpixelAtState</string>
	<key>utilSystemRight</key>
	<string>queueAlongOperation</string>
</dict>
</plist>
