<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterCommandSkewy</key>
	<string>displayableClipperShape</string>
	<key>modalOrCommand</key>
	<string>routerModeTheme</string>
	<key>nextAsyncDensity</key>
	<string>observerAtDecorator</string>
	<key>statefulExceptionSkewx</key>
	<string>clipperUntilMethod</string>
	<key>statelessParamAppearance</key>
	<string>queryViaActivity</string>
</dict>
</plist>
