<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStageSize</key>
	<string>gridThroughPrototype</string>
	<key>chapterAmongType</key>
	<string>keyReductionSaturation</string>
	<key>firstModulusOffset</key>
	<string>publicGridviewName</string>
	<key>methodActivityMomentum</key>
	<string>widgetOutsideFramework</string>
	<key>queryJobVelocity</key>
	<string>reducerWithChain</string>
	<key>scaffoldWithoutMode</key>
	<string>associatedPreviewOffset</string>
	<key>singletonBeyondJob</key>
	<string>streamStageLeft</string>
</dict>
</plist>
