<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectStyleForce</key>
	<string>numericalUsageMode</string>
	<key>featureContainMediator</key>
	<string>observerLayerTension</string>
	<key>interactorBeyondObserver</key>
	<string>sinkWithoutBridge</string>
	<key>mainPreviewRight</key>
	<string>unaryInsideTemple</string>
	<key>playbackExceptLayer</key>
	<string>vectorOfSystem</string>
	<key>semanticSliderVisibility</key>
	<string>binaryBridgeFlags</string>
	<key>ternaryWithoutSingleton</key>
	<string>substantialEventKind</string>
</dict>
</plist>
