<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveDurationFrequency</key>
	<string>sampleViaInterpreter</string>
	<key>hyperbolicRoleBound</key>
	<string>symmetricConstraintBrightness</string>
	<key>segmentOfPlatform</key>
	<string>textOfProxy</string>
	<key>streamCycleValidation</key>
	<string>normalButtonMomentum</string>
</dict>
</plist>
