<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRowOrientation</key>
	<string>usageVarFlags</string>
	<key>apertureNearPattern</key>
	<string>routeSingletonDuration</string>
	<key>cycleForVisitor</key>
	<string>hardScaleScale</string>
	<key>euclideanButtonColor</key>
	<string>advancedSegmentShade</string>
	<key>memberBeyondNumber</key>
	<string>visibleTopicTransparency</string>
	<key>observerBeyondCommand</key>
	<string>segueAdapterDepth</string>
	<key>reducerWorkCenter</key>
	<string>groupLevelRate</string>
</dict>
</plist>
