<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missionFromStyle</key>
	<string>brushLevelAlignment</string>
	<key>reductionVersusType</key>
	<string>disabledMapForce</string>
	<key>tabviewNumberPadding</key>
	<string>swiftStateStatus</string>
	<key>textProcessSkewx</key>
	<string>characterSinceLayer</string>
</dict>
</plist>
