<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastMapValidation</key>
	<string>interfacePhaseOffset</string>
	<key>parallelMomentumFlags</key>
	<string>beginnerRowPadding</string>
	<key>positionFrameworkContrast</key>
	<string>ignoredSignLocation</string>
	<key>queueVisitorBrightness</key>
	<string>sceneDuringFacade</string>
</dict>
</plist>
