<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionLayerIndex</key>
	<string>unsortedEqualizationBottom</string>
	<key>concreteInteractorOpacity</key>
	<string>expandedTypeOffset</string>
	<key>grayscaleFromPattern</key>
	<string>customNotifierSkewy</string>
	<key>masterValueOpacity</key>
	<string>baselineScopeState</string>
	<key>numericalHistogramFormat</key>
	<string>subpixelChainVisible</string>
	<key>statelessManagerCoord</key>
	<string>futureUntilPattern</string>
	<key>topicBridgeForce</key>
	<string>featureAgainstLevel</string>
	<key>viewNearBuffer</key>
	<string>mobileModeSkewx</string>
</dict>
</plist>
