<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTaskForce</key>
	<string>tappableMomentumVisible</string>
	<key>baselineIncludeMediator</key>
	<string>disabledFutureShape</string>
	<key>clipperCycleBound</key>
	<string>storyboardBridgeType</string>
	<key>errorDespiteSingleton</key>
	<string>zoneOrFunction</string>
</dict>
</plist>
