<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleInteractorShape</key>
	<string>stampFrameworkBorder</string>
	<key>axisAsType</key>
	<string>managerCompositeVelocity</string>
	<key>futureWorkForce</key>
	<string>statePrototypeType</string>
	<key>graphLikeParameter</key>
	<string>tensorManagerPressure</string>
	<key>instructionPrototypeFormat</key>
	<string>factoryParameterScale</string>
	<key>numericalOptimizerOpacity</key>
	<string>ignoredOptionAcceleration</string>
	<key>serviceExceptJob</key>
	<string>labelIncludeMediator</string>
	<key>subsequentFragmentFeedback</key>
	<string>progressbarWorkStyle</string>
</dict>
</plist>
