<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorVersusObserver</key>
	<string>operationPhaseTheme</string>
	<key>animatedSizeTag</key>
	<string>smartCacheCount</string>
	<key>capacitiesBufferDuration</key>
	<string>typicalBuilderRotation</string>
	<key>gradientMementoInset</key>
	<string>unsortedDependencyDepth</string>
	<key>hashTaskSkewy</key>
	<string>groupAsActivity</string>
</dict>
</plist>
