<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationAwayProcess</key>
	<string>musicBesideMethod</string>
	<key>equalizationWithLevel</key>
	<string>descriptionAlongFacade</string>
	<key>finalLoopBorder</key>
	<string>inactiveSensorPressure</string>
	<key>observerProxyRotation</key>
	<string>providerTempleAlignment</string>
	<key>positionBeyondChain</key>
	<string>threadOutsideChain</string>
	<key>touchTypeSkewy</key>
	<string>painterOperationRate</string>
</dict>
</plist>
