<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveTextSkewx</key>
	<string>labelDecoratorTransparency</string>
	<key>exponentAsFacade</key>
	<string>boxshadowWorkTheme</string>
	<key>futureInOperation</key>
	<string>touchPatternFrequency</string>
	<key>paddingBeyondMethod</key>
	<string>pointFunctionCount</string>
	<key>uniquePaddingPressure</key>
	<string>sliderAsMode</string>
</dict>
</plist>
