<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableSlashTop</key>
	<string>buttonInVisitor</string>
	<key>hierarchicalScrollType</key>
	<string>buttonVisitorColor</string>
	<key>modulusAtContext</key>
	<string>listviewEnvironmentFeedback</string>
	<key>multiHeroLocation</key>
	<string>modelVersusStyle</string>
	<key>remainderTypeColor</key>
	<string>assetFlyweightColor</string>
	<key>routerInMemento</key>
	<string>captionStructureIndex</string>
	<key>sampleDespiteMemento</key>
	<string>providerProcessTension</string>
	<key>titleAwayAdapter</key>
	<string>statelessVersusPrototype</string>
</dict>
</plist>
