<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPatternSpeed</key>
	<string>capacitiesDecoratorShape</string>
	<key>awaitAsMode</key>
	<string>compositionalCheckboxDistance</string>
	<key>builderAndInterpreter</key>
	<string>eagerLabelTheme</string>
	<key>builderCompositeDirection</key>
	<string>enabledExpandedAcceleration</string>
	<key>decorationJobInterval</key>
	<string>delegateModeStatus</string>
	<key>labelByTask</key>
	<string>matrixAtProcess</string>
	<key>nibFunctionInterval</key>
	<string>equalizationUntilVariable</string>
	<key>nodeAmongSingleton</key>
	<string>seamlessButtonTail</string>
	<key>tweenAsForm</key>
	<string>boxAmongProxy</string>
</dict>
</plist>
