<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAndAdapter</key>
	<string>invisibleGraphDirection</string>
	<key>advancedAspectTint</key>
	<string>painterStateTransparency</string>
	<key>chartValueCoord</key>
	<string>effectPrototypeDirection</string>
	<key>consumerAsForm</key>
	<string>tickerVersusShape</string>
	<key>deferredCoordinatorOrientation</key>
	<string>interfaceContextDelay</string>
	<key>opaqueChallengeSaturation</key>
	<string>visibleColumnStatus</string>
	<key>protectedCompleterFrequency</key>
	<string>unaryForProcess</string>
</dict>
</plist>
