<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layerTaskTransparency</key>
	<string>canvasFromFunction</string>
	<key>semanticsVariableAppearance</key>
	<string>missionVersusStrategy</string>
	<key>statefulMapFlags</key>
	<string>inkwellIncludeParameter</string>
	<key>viewFromTemple</key>
	<string>instructionPhaseForce</string>
</dict>
</plist>
