<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleUsecaseMomentum</key>
	<string>inheritedChannelIndex</string>
	<key>animatedcontainerPlatformStyle</key>
	<string>injectionSystemSize</string>
	<key>bitrateAdapterTail</key>
	<string>specifyFactoryMomentum</string>
	<key>boxSystemStatus</key>
	<string>notificationCycleStatus</string>
	<key>cursorByFramework</key>
	<string>richtextParamCoord</string>
	<key>delegateIncludeState</key>
	<string>granularFactoryIndex</string>
	<key>rectObserverState</key>
	<string>resizablePlaybackColor</string>
	<key>ternaryPatternInterval</key>
	<string>workflowContextScale</string>
</dict>
</plist>
