<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAsEnvironment</key>
	<string>prevCheckboxLeft</string>
	<key>controllerDuringChain</key>
	<string>arithmeticTimerPressure</string>
	<key>liteSemanticsPosition</key>
	<string>substantialLayerSkewx</string>
	<key>missionParamCount</key>
	<string>easyKernelState</string>
	<key>musicOutsideCycle</key>
	<string>resilientQueryPadding</string>
	<key>significantIntensityVisible</key>
	<string>loopLikeScope</string>
</dict>
</plist>
