<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedChartSkewx</key>
	<string>threadLayerVisible</string>
	<key>awaitAwayComposite</key>
	<string>consumerShapeForce</string>
	<key>groupStageSpeed</key>
	<string>nativeCompositionEdge</string>
	<key>handlerShapeValidation</key>
	<string>contractionLikeInterpreter</string>
	<key>injectionVisitorVelocity</key>
	<string>controllerFlyweightColor</string>
	<key>smartAxisDensity</key>
	<string>singletonContainTask</string>
</dict>
</plist>
