<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeFacade</key>
	<string>usedSymbolFormat</string>
	<key>builderWithoutProxy</key>
	<string>groupParamBound</string>
	<key>comprehensivePetInterval</key>
	<string>responseThanComposite</string>
	<key>graphVisitorTop</key>
	<string>opaqueRoleAcceleration</string>
	<key>injectionSinceVariable</key>
	<string>axisStateMode</string>
	<key>loopThanProcess</key>
	<string>cupertinoPresenterFeedback</string>
	<key>materialSliderVisibility</key>
	<string>bufferActivityMargin</string>
	<key>metadataSinceCycle</key>
	<string>providerCompositeBound</string>
	<key>painterContextRate</key>
	<string>navigationBesideSystem</string>
	<key>rapidMusicBound</key>
	<string>localizationThanFramework</string>
</dict>
</plist>
