<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAsStyle</key>
	<string>lastOffsetValidation</string>
	<key>declarativeTextOrigin</key>
	<string>richtextValueInterval</string>
	<key>effectBridgeColor</key>
	<string>hierarchicalAlertIndex</string>
	<key>matrixByVar</key>
	<string>storageMethodType</string>
	<key>multiParticleOrigin</key>
	<string>intuitiveTitleShape</string>
	<key>numericalPopupRate</key>
	<string>permanentFrameBehavior</string>
	<key>remainderAroundParam</key>
	<string>cellDuringTier</string>
	<key>resolverAgainstMemento</key>
	<string>accordionGraphSpacing</string>
	<key>zoneIncludeEnvironment</key>
	<string>topicContainSystem</string>
</dict>
</plist>
