<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousEqualizationOrientation</key>
	<string>actionFunctionDelay</string>
	<key>hyperbolicChallengeBrightness</key>
	<string>particleNumberRate</string>
	<key>intensityTempleDensity</key>
	<string>characterFromPhase</string>
	<key>interfaceMementoTint</key>
	<string>responsiveAnimationInset</string>
	<key>optionMementoSpacing</key>
	<string>transitionWithoutPattern</string>
	<key>parallelTaskMode</key>
	<string>customizedTransitionOrientation</string>
	<key>responsiveCapacitiesTransparency</key>
	<string>contractionStageName</string>
	<key>scaleAlongScope</key>
	<string>commandPhaseSaturation</string>
	<key>tappableAnchorVelocity</key>
	<string>signIncludeComposite</string>
	<key>usedBlocTag</key>
	<string>sampleAndLayer</string>
</dict>
</plist>
