<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLikeForm</key>
	<string>textureStateOpacity</string>
	<key>cacheOutsideFunction</key>
	<string>alphaAlongOperation</string>
	<key>configurationModeContrast</key>
	<string>slashAtState</string>
	<key>delegateSystemCenter</key>
	<string>routeContainProcess</string>
	<key>directlyResultInteraction</key>
	<string>cubitVariableSkewx</string>
	<key>displayableRepositoryPosition</key>
	<string>sliderSingletonTheme</string>
	<key>draggableAspectratioType</key>
	<string>localConfigurationAlignment</string>
	<key>eagerCheckboxContrast</key>
	<string>notifierStyleTag</string>
	<key>interactorAboutAdapter</key>
	<string>effectActivityTag</string>
	<key>interactorPerVar</key>
	<string>immediateCompleterDirection</string>
</dict>
</plist>
