<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAmongJob</key>
	<string>axisWorkKind</string>
	<key>dialogsFacadeType</key>
	<string>scaleContainValue</string>
	<key>fusedObserverSaturation</key>
	<string>optionShapeTag</string>
	<key>graphicShapeTop</key>
	<string>unactivatedObserverMargin</string>
	<key>toolAwayDecorator</key>
	<string>kernelSinceVar</string>
</dict>
</plist>
