<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFlyweightVisibility</key>
	<string>clipperFromActivity</string>
	<key>dropdownbuttonCommandCount</key>
	<string>timerThroughKind</string>
	<key>isolateLayerTransparency</key>
	<string>chapterFormColor</string>
	<key>loopOrBuffer</key>
	<string>pivotalControllerTransparency</string>
	<key>observerPatternKind</key>
	<string>similarRouterSpeed</string>
	<key>roleProcessRate</key>
	<string>configurationAtFacade</string>
	<key>streamWithCycle</key>
	<string>resolverLevelRate</string>
</dict>
</plist>
