<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionResolverOffset</key>
	<string>vectorWorkTop</string>
	<key>beginnerGridviewResponse</key>
	<string>builderFlyweightFormat</string>
	<key>containerPlatformResponse</key>
	<string>inheritedStoragePosition</string>
	<key>delicateTopicColor</key>
	<string>concurrentMemberShade</string>
	<key>futureCommandInteraction</key>
	<string>secondPromiseFormat</string>
	<key>labelViaVar</key>
	<string>characterAtFlyweight</string>
</dict>
</plist>
