<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardResourceHue</key>
	<string>fusedRowMargin</string>
	<key>chapterOfOperation</key>
	<string>labelTypeValidation</string>
	<key>compositionalChallengeCount</key>
	<string>popupDecoratorType</string>
	<key>containerBesideDecorator</key>
	<string>positionStyleOpacity</string>
	<key>customDescriptionRight</key>
	<string>listviewAlongSingleton</string>
	<key>greatNavigatorRight</key>
	<string>compositionMediatorAlignment</string>
	<key>protocolAdapterStatus</key>
	<string>dependencyNearMemento</string>
	<key>sinkByBuffer</key>
	<string>missedDecorationSpeed</string>
	<key>tableDespiteMemento</key>
	<string>globalEventDirection</string>
	<key>unaryFromLevel</key>
	<string>nativeImageOrigin</string>
</dict>
</plist>
