<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorKindTheme</key>
	<string>localizationFormRight</string>
	<key>documentParameterTag</key>
	<string>methodThroughNumber</string>
	<key>durationFacadeColor</key>
	<string>ignoredStampHead</string>
	<key>enabledCursorPadding</key>
	<string>responseUntilParam</string>
	<key>equipmentTempleFormat</key>
	<string>secondDependencyBorder</string>
	<key>exponentFlyweightTop</key>
	<string>mediaScopeAcceleration</string>
	<key>intensityPerForm</key>
	<string>alertVersusMethod</string>
	<key>managerLayerOrigin</key>
	<string>captionThroughLevel</string>
	<key>textStateBottom</key>
	<string>assetCompositeCount</string>
	<key>unactivatedInterfaceLeft</key>
	<string>unaryInKind</string>
</dict>
</plist>
