<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateParameterShade</key>
	<string>blocPhaseSkewx</string>
	<key>controllerAtStage</key>
	<string>normSystemTint</string>
	<key>fixedFrameMargin</key>
	<string>visibleButtonDelay</string>
	<key>intermediateCallbackSkewy</key>
	<string>smallTitleVisible</string>
</dict>
</plist>
