<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderShapeSkewx</key>
	<string>concreteSegmentDuration</string>
	<key>lostTimerTension</key>
	<string>dropdownbuttonStateDensity</string>
	<key>momentumExceptCommand</key>
	<string>positionChainRate</string>
	<key>paddingForJob</key>
	<string>globalCompleterRight</string>
	<key>statefulLayerResponse</key>
	<string>staticMonsterCount</string>
</dict>
</plist>
