<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainPatternTension</key>
	<string>interfaceViaTier</string>
	<key>profileVersusPhase</key>
	<string>bufferAsForm</string>
	<key>sustainableLabelStatus</key>
	<string>factoryUntilPhase</string>
</dict>
</plist>
