<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMediatorInteraction</key>
	<string>nodeWithoutFacade</string>
	<key>borderPrototypeSkewx</key>
	<string>drawerAdapterPadding</string>
	<key>painterOrTemple</key>
	<string>tickerFacadeVisibility</string>
	<key>parallelFragmentOrigin</key>
	<string>queueAmongShape</string>
</dict>
</plist>
