<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartPlatformInset</key>
	<string>responsiveMobileFeedback</string>
	<key>cursorDecoratorInteraction</key>
	<string>unaryVariableTheme</string>
	<key>heroThroughTemple</key>
	<string>reducerPerProcess</string>
	<key>roleAroundLevel</key>
	<string>popupExceptChain</string>
</dict>
</plist>
