<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationJobLeft</key>
	<string>blocFlyweightStatus</string>
	<key>fixedPetKind</key>
	<string>methodContainProcess</string>
	<key>intermediateArithmeticHue</key>
	<string>customStreamDistance</string>
	<key>isolateAroundNumber</key>
	<string>consumerInterpreterVisible</string>
	<key>plateValueBrightness</key>
	<string>lostDelegateVisible</string>
	<key>primaryArithmeticBottom</key>
	<string>methodAdapterSpeed</string>
	<key>significantPositionPosition</key>
	<string>activeLabelLeft</string>
	<key>ternaryJobTint</key>
	<string>previewActivityTheme</string>
	<key>unsortedExceptionShape</key>
	<string>customSubpixelVelocity</string>
</dict>
</plist>
