<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOutsideCommand</key>
	<string>bufferOfProxy</string>
	<key>bufferJobHead</key>
	<string>completerJobMomentum</string>
	<key>builderPerFunction</key>
	<string>sceneShapeRotation</string>
	<key>queueFormBorder</key>
	<string>asyncMementoCenter</string>
	<key>segmentPatternTheme</key>
	<string>integerEnvironmentRight</string>
	<key>usecaseAwayVisitor</key>
	<string>observerForStructure</string>
</dict>
</plist>
