<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryStrategyBehavior</key>
	<string>positionedMethodVelocity</string>
	<key>alignmentWorkStyle</key>
	<string>subtleCompleterSize</string>
	<key>asynchronousFactoryFlags</key>
	<string>statefulSpecifierTag</string>
	<key>currentTopicBound</key>
	<string>mapCycleState</string>
	<key>factorySinceBuffer</key>
	<string>lostReducerBottom</string>
	<key>gramAboutMediator</key>
	<string>accordionFlexAcceleration</string>
	<key>textScopeState</key>
	<string>mediocreDescriptionScale</string>
	<key>transitionAndJob</key>
	<string>spotShapeCoord</string>
</dict>
</plist>
