<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSwitchFlags</key>
	<string>textNearJob</string>
	<key>baseCycleSpacing</key>
	<string>granularCurveOrigin</string>
	<key>chartOperationVelocity</key>
	<string>challengeVisitorState</string>
	<key>consultativeZoneTag</key>
	<string>cupertinoSystemValidation</string>
	<key>controllerContainFacade</key>
	<string>cardChainInset</string>
	<key>displayableDropdownbuttonContrast</key>
	<string>observerProcessMode</string>
	<key>granularOptimizerResponse</key>
	<string>modalCompositeLeft</string>
	<key>listenerScopeScale</key>
	<string>modulusAboutMethod</string>
	<key>playbackExceptFunction</key>
	<string>musicBeyondWork</string>
</dict>
</plist>
