<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocViaBridge</key>
	<string>disabledDurationOpacity</string>
	<key>futureParamTransparency</key>
	<string>specifyDelegateAcceleration</string>
	<key>responseShapePosition</key>
	<string>extensionDecoratorIndex</string>
	<key>serviceStrategyCoord</key>
	<string>subsequentEntityTransparency</string>
	<key>tappableHistogramVelocity</key>
	<string>rowTaskCenter</string>
	<key>temporaryResponseIndex</key>
	<string>mapPerCommand</string>
	<key>usageAboutNumber</key>
	<string>associatedFeatureOffset</string>
	<key>usecaseUntilType</key>
	<string>smallDescriptorKind</string>
	<key>viewTempleTag</key>
	<string>curveOfJob</string>
</dict>
</plist>
