<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFlyweightContrast</key>
	<string>scalePlatformScale</string>
	<key>descriptorParamDelay</key>
	<string>stepAsVariable</string>
	<key>grainAlongTemple</key>
	<string>musicOrProxy</string>
	<key>mutableWidgetVelocity</key>
	<string>storeStrategyAppearance</string>
	<key>pinchableMasterFormat</key>
	<string>navigationStageHue</string>
	<key>standaloneSpriteTag</key>
	<string>iterativeAppbarOrientation</string>
	<key>streamMementoPosition</key>
	<string>bulletLayerName</string>
	<key>symbolPatternColor</key>
	<string>previewBesideActivity</string>
	<key>timerScopeOffset</key>
	<string>compositionalGramOpacity</string>
</dict>
</plist>
