<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOutsideTemple</key>
	<string>requestAsBuffer</string>
	<key>customizedTabviewCoord</key>
	<string>painterAboutLayer</string>
	<key>positionAsBuffer</key>
	<string>builderMementoAcceleration</string>
	<key>prismaticAnimatedcontainerDistance</key>
	<string>inkwellBeyondLevel</string>
</dict>
</plist>
