<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistOperationSkewx</key>
	<string>localizationFlyweightPosition</string>
	<key>customResolverFlags</key>
	<string>observerModeOpacity</string>
	<key>injectionCompositeBrightness</key>
	<string>grainScopeStatus</string>
	<key>intensityOrObserver</key>
	<string>sineAdapterDensity</string>
	<key>priorSpecifierVisible</key>
	<string>dropdownbuttonParamOrientation</string>
	<key>remainderVersusValue</key>
	<string>flexibleGraphInteraction</string>
	<key>statefulSingletonSize</key>
	<string>blocLayerDepth</string>
</dict>
</plist>
