<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterBridgeSkewx</key>
	<string>cartesianRemainderSpacing</string>
	<key>crudeCellCount</key>
	<string>painterAsCycle</string>
	<key>geometricDecorationForce</key>
	<string>euclideanDescriptionFeedback</string>
	<key>mainGetxFlags</key>
	<string>variantParamRight</string>
	<key>particleAdapterStatus</key>
	<string>operationCompositeCoord</string>
	<key>pivotalEquipmentStatus</key>
	<string>transformerParamTension</string>
	<key>repositoryProcessTension</key>
	<string>scrollableCaptionOrigin</string>
	<key>vectorBufferOffset</key>
	<string>pinchableRowValidation</string>
</dict>
</plist>
