<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedReductionDuration</key>
	<string>layerProcessAcceleration</string>
	<key>channelVariablePosition</key>
	<string>explicitPositionTail</string>
	<key>errorOrMemento</key>
	<string>projectThanMode</string>
	<key>kernelAgainstLayer</key>
	<string>backwardKernelDistance</string>
	<key>materialStepDirection</key>
	<string>elasticGestureState</string>
	<key>rowFacadeSkewx</key>
	<string>navigationTierPressure</string>
	<key>semanticFrameDirection</key>
	<string>transitionByMethod</string>
	<key>sizeFromObserver</key>
	<string>commandFlyweightAppearance</string>
	<key>specifyInteractorDuration</key>
	<string>cycleByNumber</string>
	<key>visibleQueryHue</key>
	<string>mediumEventBottom</string>
</dict>
</plist>
