<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineBesideActivity</key>
	<string>largeListviewBrightness</string>
	<key>grainObserverKind</key>
	<string>nativePriorityPadding</string>
	<key>layerFunctionTop</key>
	<string>prismaticCompositionSaturation</string>
	<key>lazyTextureSkewx</key>
	<string>widgetInsideEnvironment</string>
	<key>mediaObserverDuration</key>
	<string>animatedNibDuration</string>
	<key>nextTaskAlignment</key>
	<string>reactiveSineVisibility</string>
	<key>skinStageHead</key>
	<string>coordinatorStyleSkewx</string>
</dict>
</plist>
