<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedInjectionTheme</key>
	<string>sinkThanBuffer</string>
	<key>catalystViaTemple</key>
	<string>flexValueDirection</string>
	<key>concreteSubscriptionMargin</key>
	<string>skirtVersusSingleton</string>
	<key>entityParameterSaturation</key>
	<string>flexiblePointStyle</string>
	<key>mainGramTransparency</key>
	<string>tangentValueSpeed</string>
	<key>metadataTypeRate</key>
	<string>immediateDurationBrightness</string>
	<key>providerStageAppearance</key>
	<string>parallelGrainShape</string>
	<key>responseVarSkewx</key>
	<string>coordinatorVisitorAppearance</string>
</dict>
</plist>
