<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncWithoutVariable</key>
	<string>specifierAroundBuffer</string>
	<key>canvasFormTag</key>
	<string>draggableLocalizationStyle</string>
	<key>euclideanBinaryFormat</key>
	<string>pointWithoutVar</string>
	<key>explicitSampleOrigin</key>
	<string>liteFutureBound</string>
	<key>graphicPrototypeIndex</key>
	<string>unactivatedIntensityLeft</string>
	<key>labelAndMemento</key>
	<string>compositionalDelegateType</string>
	<key>liteSpecifierPressure</key>
	<string>notificationSystemDirection</string>
	<key>marginOfInterpreter</key>
	<string>priorStateMode</string>
	<key>singletonModeContrast</key>
	<string>sinkInMemento</string>
	<key>statefulEqualizationMomentum</key>
	<string>integerScopeOpacity</string>
</dict>
</plist>
