<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentJobStatus</key>
	<string>referenceUntilPlatform</string>
	<key>blocFunctionSpeed</key>
	<string>disabledCompleterInterval</string>
	<key>fusedIndicatorOffset</key>
	<string>pivotalPositionedTheme</string>
	<key>grainMethodDepth</key>
	<string>associatedMenuHead</string>
	<key>protectedAllocatorType</key>
	<string>taskDespiteKind</string>
	<key>scrollByContext</key>
	<string>callbackParameterBound</string>
	<key>semanticTransitionAcceleration</key>
	<string>backwardViewLeft</string>
	<key>substantialSegmentColor</key>
	<string>assetViaDecorator</string>
	<key>webResponseScale</key>
	<string>descriptorVarRotation</string>
	<key>widgetAgainstWork</key>
	<string>durationForAdapter</string>
</dict>
</plist>
