<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintExceptInterpreter</key>
	<string>sceneOutsideMediator</string>
	<key>immediateMenuCount</key>
	<string>hardNormRight</string>
	<key>inheritedRouterName</key>
	<string>uniformPopupInteraction</string>
	<key>navigationThroughPlatform</key>
	<string>grayscaleKindDuration</string>
	<key>relationalMatrixScale</key>
	<string>animatedRepositoryBehavior</string>
	<key>richtextAroundSingleton</key>
	<string>buttonThanProxy</string>
</dict>
</plist>
