<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryInMethod</key>
	<string>routeContextColor</string>
	<key>curveTaskDepth</key>
	<string>groupAtComposite</string>
	<key>futureEnvironmentScale</key>
	<string>clipperAsFacade</string>
	<key>listenerFlyweightAcceleration</key>
	<string>menuByLevel</string>
	<key>mediaqueryByMode</key>
	<string>requestWithContext</string>
	<key>normalConstraintBrightness</key>
	<string>relationalToolAlignment</string>
	<key>opaqueProjectDirection</key>
	<string>optionPatternHue</string>
	<key>prevCycleForce</key>
	<string>exponentInEnvironment</string>
	<key>staticExceptionSpeed</key>
	<string>baselineAlongMode</string>
</dict>
</plist>
