<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedBufferDirection</key>
	<string>transformerCompositeRate</string>
	<key>scrollablePresenterScale</key>
	<string>awaitOrStructure</string>
	<key>tangentValueBorder</key>
	<string>sceneAlongFlyweight</string>
</dict>
</plist>
