<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardViaDecorator</key>
	<string>buttonObserverVisible</string>
	<key>resilientPriorityTop</key>
	<string>animationIncludeStage</string>
	<key>subpixelAgainstJob</key>
	<string>opaqueAnimationBottom</string>
	<key>temporarySemanticsDensity</key>
	<string>layerAdapterColor</string>
</dict>
</plist>
