<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorStructureRight</key>
	<string>intensityAsEnvironment</string>
	<key>fragmentAgainstFacade</key>
	<string>topicNumberTension</string>
	<key>independentRepositoryBehavior</key>
	<string>activeImageVisible</string>
	<key>largeCubitType</key>
	<string>standaloneRepositoryRight</string>
	<key>optimizerInWork</key>
	<string>stepFacadeBehavior</string>
	<key>referenceByContext</key>
	<string>grainStrategyColor</string>
	<key>singletonAgainstFunction</key>
	<string>robustCubitInteraction</string>
	<key>webCubitStatus</key>
	<string>rapidCustompaintMomentum</string>
</dict>
</plist>
