<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintLikeSingleton</key>
	<string>grainAroundMediator</string>
	<key>tappableBufferPosition</key>
	<string>zoneOfAdapter</string>
	<key>visibleRequestContrast</key>
	<string>dimensionInterpreterMode</string>
</dict>
</plist>
