<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioMethodSpacing</key>
	<string>interfaceFrameworkDensity</string>
	<key>mainGateTension</key>
	<string>constraintNearComposite</string>
	<key>secondGiftAppearance</key>
	<string>commandVariableVisibility</string>
	<key>synchronousSwitchType</key>
	<string>deferredScreenName</string>
</dict>
</plist>
