<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventPlatformState</key>
	<string>diffableTopicTension</string>
	<key>layerPerSystem</key>
	<string>particleAlongFunction</string>
	<key>previewNumberDensity</key>
	<string>errorThroughStrategy</string>
	<key>riverpodChainDistance</key>
	<string>advancedGesturedetectorInteraction</string>
	<key>visibleMarginLocation</key>
	<string>segmentInValue</string>
</dict>
</plist>
