<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectSinceVar</key>
	<string>textInTemple</string>
	<key>stampPerKind</key>
	<string>tabviewIncludeChain</string>
	<key>statelessProxyBrightness</key>
	<string>queryOperationMargin</string>
	<key>storageActivityTail</key>
	<string>modelFromForm</string>
</dict>
</plist>
