<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativePainterDensity</key>
	<string>immediateAlertTint</string>
	<key>flexibleSliderFeedback</key>
	<string>shaderDuringNumber</string>
	<key>rapidConfigurationFeedback</key>
	<string>activeTaskStatus</string>
	<key>spotAdapterStyle</key>
	<string>entityStateRotation</string>
</dict>
</plist>
