<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncRepositoryVisible</key>
	<string>providerAlongEnvironment</string>
	<key>buttonCommandRate</key>
	<string>sensorBesideVariable</string>
	<key>decorationCommandHead</key>
	<string>clipperCompositeSize</string>
	<key>descriptionPatternOrientation</key>
	<string>buttonOperationOrientation</string>
	<key>entityAwayStrategy</key>
	<string>easyEntityScale</string>
	<key>errorForMethod</key>
	<string>descriptionBesideLayer</string>
	<key>heroBesideContext</key>
	<string>directlyImageBorder</string>
	<key>monsterDespiteSingleton</key>
	<string>promiseOrCommand</string>
	<key>movementAndTier</key>
	<string>localBulletRight</string>
</dict>
</plist>
