<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionProxyOrigin</key>
	<string>nativeRadioScale</string>
	<key>exceptionProcessDirection</key>
	<string>pinchableLayoutColor</string>
	<key>granularSingletonCenter</key>
	<string>mobileContainKind</string>
	<key>liteContractionDelay</key>
	<string>comprehensiveClipperName</string>
	<key>lostCoordinatorLocation</key>
	<string>timerObserverTheme</string>
	<key>secondUsecaseVisibility</key>
	<string>mobileReductionStyle</string>
	<key>specifierMethodVisibility</key>
	<string>coordinatorJobRotation</string>
	<key>unaryInsideObserver</key>
	<string>semanticProviderType</string>
	<key>unaryMementoBehavior</key>
	<string>widgetStructureShape</string>
</dict>
</plist>
