<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorStrategyFormat</key>
	<string>protocolUntilBuffer</string>
	<key>aspectratioWithLayer</key>
	<string>callbackWithFramework</string>
	<key>callbackEnvironmentOrigin</key>
	<string>effectPerTemple</string>
	<key>exponentCompositeBound</key>
	<string>constraintBeyondContext</string>
	<key>getxLevelFlags</key>
	<string>utilStructureColor</string>
	<key>mutableHashOrientation</key>
	<string>nativeLayoutAlignment</string>
	<key>usageWithMediator</key>
	<string>protectedIconResponse</string>
</dict>
</plist>
