<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeStyleLocation</key>
	<string>webWidgetDirection</string>
	<key>extensionVisitorSpeed</key>
	<string>ignoredLayerState</string>
	<key>featureAboutCommand</key>
	<string>mapNearPhase</string>
	<key>mutableWidgetSkewx</key>
	<string>injectionAndTemple</string>
	<key>navigatorObserverCoord</key>
	<string>controllerScopeForce</string>
	<key>retainedManagerEdge</key>
	<string>beginnerCoordinatorDirection</string>
	<key>routerNearValue</key>
	<string>pivotalStorageTop</string>
	<key>touchMethodResponse</key>
	<string>navigatorPrototypeContrast</string>
</dict>
</plist>
