<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedAnimationOrigin</key>
	<string>descriptionAndNumber</string>
	<key>descriptionIncludeFramework</key>
	<string>iterativeFragmentMode</string>
	<key>petJobBound</key>
	<string>stepUntilObserver</string>
	<key>sustainableLayoutMargin</key>
	<string>pointMediatorStatus</string>
	<key>unactivatedEqualizationStyle</key>
	<string>cartesianCubitName</string>
</dict>
</plist>
