<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggablePositionLeft</key>
	<string>delicateEventTag</string>
	<key>dynamicBehaviorOffset</key>
	<string>factoryAsState</string>
	<key>opaqueCallbackSpeed</key>
	<string>bulletShapeOrientation</string>
	<key>reducerProxyAlignment</key>
	<string>oldLabelSpacing</string>
	<key>resourceAndSystem</key>
	<string>capsuleCompositePosition</string>
	<key>servicePhaseBound</key>
	<string>streamAwayLevel</string>
	<key>skirtAtProxy</key>
	<string>relationalMomentumRotation</string>
	<key>subsequentResultRight</key>
	<string>riverpodForValue</string>
	<key>temporaryResourceFlags</key>
	<string>dialogsMethodShape</string>
	<key>transitionViaStage</key>
	<string>smallRouterValidation</string>
</dict>
</plist>
