<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityUntilShape</key>
	<string>observerVersusTemple</string>
	<key>constraintAsParam</key>
	<string>customAlertAcceleration</string>
	<key>modelFormOrigin</key>
	<string>hardEquipmentDuration</string>
	<key>newestEntityOrientation</key>
	<string>relationalGridName</string>
	<key>protectedInterpolationCount</key>
	<string>queueLikeParameter</string>
	<key>queueThanMode</key>
	<string>statelessChannelDirection</string>
	<key>requestInsideJob</key>
	<string>eagerTextfieldShade</string>
	<key>resizableBuilderCoord</key>
	<string>navigatorLayerPosition</string>
	<key>vectorAgainstTask</key>
	<string>chapterModeName</string>
</dict>
</plist>
