<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianConstraintInteraction</key>
	<string>assetChainLocation</string>
	<key>compositionalInjectionOpacity</key>
	<string>lastInteractorAlignment</string>
	<key>containerStructureShape</key>
	<string>toolWithoutStyle</string>
	<key>declarativeBufferDelay</key>
	<string>utilInterpreterOffset</string>
	<key>gridviewValueOpacity</key>
	<string>entityScopeBottom</string>
	<key>matrixThroughContext</key>
	<string>cardContainCommand</string>
	<key>observerViaType</key>
	<string>dependencySincePhase</string>
	<key>respectiveSingletonType</key>
	<string>normalRemainderTail</string>
	<key>streamFunctionPadding</key>
	<string>lossFunctionOffset</string>
</dict>
</plist>
