<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorInDecorator</key>
	<string>opaqueGestureRate</string>
	<key>invisibleRectLocation</key>
	<string>graphForParameter</string>
	<key>offsetSingletonCoord</key>
	<string>observerActionCount</string>
	<key>queryDespiteJob</key>
	<string>statefulSinceCommand</string>
	<key>timerAmongMode</key>
	<string>missionStrategyFeedback</string>
</dict>
</plist>
