<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionBufferLocation</key>
	<string>richtextProxyHue</string>
	<key>ignoredCollectionType</key>
	<string>commonQueryShade</string>
	<key>metadataVersusMethod</key>
	<string>asyncOutsideState</string>
	<key>smartSliderAlignment</key>
	<string>decorationTempleInteraction</string>
	<key>threadVersusLevel</key>
	<string>layoutMediatorValidation</string>
	<key>topicAmongParam</key>
	<string>primaryAnimatedcontainerDirection</string>
	<key>viewBySingleton</key>
	<string>crucialIsolateFeedback</string>
</dict>
</plist>
