<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableContractionLocation</key>
	<string>listviewThanActivity</string>
	<key>newestInterpolationPosition</key>
	<string>delicateExponentDensity</string>
	<key>plateVersusJob</key>
	<string>overlayFromLayer</string>
</dict>
</plist>
