<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesPhasePressure</key>
	<string>oldChartMargin</string>
	<key>collectionAmongActivity</key>
	<string>interactorTypeFrequency</string>
	<key>compositionalSingletonDensity</key>
	<string>boxshadowFacadeLeft</string>
	<key>labelWithoutType</key>
	<string>baselineExceptAction</string>
	<key>modulusAboutDecorator</key>
	<string>secondTickerEdge</string>
	<key>sliderTaskFormat</key>
	<string>iconWithoutStrategy</string>
</dict>
</plist>
