<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleOrStrategy</key>
	<string>explicitMobxPosition</string>
	<key>characterStageFormat</key>
	<string>dropdownbuttonWithoutType</string>
	<key>explicitResourceTop</key>
	<string>multiplicationProcessDuration</string>
	<key>loopStructureSaturation</key>
	<string>interactorEnvironmentBound</string>
	<key>primarySinkSpeed</key>
	<string>directlyGateHead</string>
</dict>
</plist>
