<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticThanAdapter</key>
	<string>touchVarDuration</string>
	<key>difficultGramCenter</key>
	<string>groupByChain</string>
	<key>graphicNearCycle</key>
	<string>euclideanEquipmentIndex</string>
	<key>liteGestureIndex</key>
	<string>factoryAsFramework</string>
	<key>oldRouterDepth</key>
	<string>disabledSingletonSaturation</string>
	<key>stampLayerInterval</key>
	<string>positionSinceCycle</string>
</dict>
</plist>
