<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStageOrientation</key>
	<string>metadataVarTransparency</string>
	<key>composableLogarithmDensity</key>
	<string>checklistWithoutTask</string>
	<key>globalCheckboxHead</key>
	<string>constCompleterCount</string>
	<key>referenceAwayScope</key>
	<string>missionTierTheme</string>
	<key>signLikeScope</key>
	<string>globalHashSize</string>
	<key>specifierExceptMediator</key>
	<string>workflowProxyShape</string>
	<key>stateOfCycle</key>
	<string>primaryResolverInterval</string>
	<key>staticAlertColor</key>
	<string>chartAmongEnvironment</string>
	<key>taskThroughState</key>
	<string>textFromMode</string>
	<key>textureDespiteSingleton</key>
	<string>buttonContainPattern</string>
</dict>
</plist>
