<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellTempleBorder</key>
	<string>elasticLocalizationRate</string>
	<key>compositionDespiteChain</key>
	<string>assetAsObserver</string>
	<key>entropyAdapterTension</key>
	<string>histogramFlyweightInteraction</string>
	<key>fixedMobileTension</key>
	<string>isolateThanCycle</string>
	<key>hardResultSpeed</key>
	<string>appbarOfParameter</string>
	<key>interactiveInkwellBorder</key>
	<string>tablePatternResponse</string>
	<key>overlayByInterpreter</key>
	<string>synchronousSymbolOrientation</string>
	<key>segueThanPlatform</key>
	<string>richtextVersusJob</string>
	<key>subscriptionObserverKind</key>
	<string>builderAlongKind</string>
	<key>transformerStrategyBottom</key>
	<string>displayableViewSpeed</string>
</dict>
</plist>
