<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMatrixScale</key>
	<string>transformerAboutTier</string>
	<key>assetPatternBottom</key>
	<string>borderTempleTransparency</string>
	<key>asyncValueSpeed</key>
	<string>isolateKindMargin</string>
	<key>chartInFacade</key>
	<string>descriptionStateLeft</string>
	<key>delicateTaskLeft</key>
	<string>granularTransitionInset</string>
	<key>dependencyInterpreterColor</key>
	<string>controllerByStrategy</string>
	<key>granularVariantStyle</key>
	<string>brushFlyweightLeft</string>
	<key>materialAwayProcess</key>
	<string>gradientThanFlyweight</string>
	<key>statefulMediatorTransparency</key>
	<string>characterUntilLevel</string>
	<key>viewLikeStrategy</key>
	<string>substantialTextureFormat</string>
</dict>
</plist>
