<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeDecorationMode</key>
	<string>interactiveMenuTag</string>
	<key>completerWorkContrast</key>
	<string>gemViaLevel</string>
	<key>decorationCompositeDirection</key>
	<string>techniqueAroundMediator</string>
	<key>drawerLevelFeedback</key>
	<string>sampleForStrategy</string>
	<key>exponentBridgeSpeed</key>
	<string>tweenAlongParam</string>
	<key>greatAllocatorResponse</key>
	<string>arithmeticKindType</string>
	<key>synchronousMapTail</key>
	<string>serviceTaskOpacity</string>
	<key>timerContainAction</key>
	<string>crucialIsolateLocation</string>
	<key>topicParameterMargin</key>
	<string>canvasAroundForm</string>
	<key>usecaseViaDecorator</key>
	<string>commandFrameworkCenter</string>
</dict>
</plist>
