<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartModeHue</key>
	<string>delegateMediatorPressure</string>
	<key>configurationObserverFormat</key>
	<string>basicEventScale</string>
	<key>disabledCheckboxCoord</key>
	<string>durationMementoCenter</string>
	<key>granularBuilderBehavior</key>
	<string>typicalConstraintHead</string>
	<key>navigationDuringProxy</key>
	<string>actionValueSpeed</string>
	<key>parallelMenuEdge</key>
	<string>deferredCellVisibility</string>
	<key>prioritySystemStatus</key>
	<string>widgetStructureTint</string>
	<key>semanticsAndAdapter</key>
	<string>precisionDuringLevel</string>
	<key>stepVarBound</key>
	<string>activityWorkFeedback</string>
</dict>
</plist>
