<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDespiteType</key>
	<string>subsequentMediaFormat</string>
	<key>ephemeralLogarithmKind</key>
	<string>channelChainState</string>
	<key>flexibleInteractorTag</key>
	<string>themeNearState</string>
	<key>imperativeDelegateDelay</key>
	<string>certificateThanNumber</string>
	<key>lazyGrainAlignment</key>
	<string>resourceShapeContrast</string>
	<key>mobileStateInteraction</key>
	<string>vectorStageVisible</string>
	<key>originalGridMargin</key>
	<string>deferredDurationScale</string>
	<key>scrollableErrorStyle</key>
	<string>backwardMenuTheme</string>
</dict>
</plist>
