<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSpecifierTop</key>
	<string>mainEventDensity</string>
	<key>durationAmongInterpreter</key>
	<string>gridAndWork</string>
	<key>primaryMobileShade</key>
	<string>multiContractionCount</string>
	<key>remainderMementoHead</key>
	<string>prevNotificationInset</string>
	<key>resourcePrototypeCoord</key>
	<string>aspectratioAtFacade</string>
	<key>sinkMementoAppearance</key>
	<string>densePaddingBound</string>
</dict>
</plist>
