<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderWithoutSingleton</key>
	<string>diffableGemFormat</string>
	<key>contractionTypeTint</key>
	<string>visibleDescriptionTail</string>
	<key>finalBuilderDirection</key>
	<string>mediaVarTag</string>
	<key>independentPainterValidation</key>
	<string>interactiveProfileFrequency</string>
	<key>intensityTypeTransparency</key>
	<string>injectionProcessTail</string>
	<key>semanticBuilderTint</key>
	<string>switchExceptParam</string>
	<key>semanticMarginRate</key>
	<string>rowOrTier</string>
	<key>sizeOperationInterval</key>
	<string>actionContextSize</string>
	<key>subscriptionCompositeCoord</key>
	<string>draggableTextScale</string>
</dict>
</plist>
