<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentOfFacade</key>
	<string>queryShapeKind</string>
	<key>documentNumberKind</key>
	<string>reducerFunctionScale</string>
	<key>eventStructureSaturation</key>
	<string>eagerManagerBrightness</string>
	<key>inheritedChartHead</key>
	<string>prismaticPreviewFlags</string>
	<key>managerShapeAlignment</key>
	<string>constraintPatternMomentum</string>
	<key>notificationVariableInteraction</key>
	<string>scaleDuringNumber</string>
	<key>stampSystemDistance</key>
	<string>viewDuringStyle</string>
	<key>tappableAppbarFlags</key>
	<string>concurrentCharacterColor</string>
</dict>
</plist>
