<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseCallbackContrast</key>
	<string>injectionPhaseEdge</string>
	<key>momentumLevelSize</key>
	<string>scrollableGrayscaleValidation</string>
	<key>profileInStyle</key>
	<string>optimizerAgainstParameter</string>
</dict>
</plist>
