<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlySingletonVisible</key>
	<string>smartCustompaintDuration</string>
	<key>largeTextDensity</key>
	<string>convolutionPatternAppearance</string>
	<key>menuSystemCenter</key>
	<string>consultativeConsumerType</string>
	<key>richtextAwayShape</key>
	<string>discardedInstructionFeedback</string>
	<key>scaffoldPhaseCoord</key>
	<string>shaderValueAcceleration</string>
	<key>scaleMediatorStatus</key>
	<string>denseNibSkewx</string>
	<key>scrollableMethodDuration</key>
	<string>sampleValueMargin</string>
	<key>sinkVersusVar</key>
	<string>taskViaVariable</string>
	<key>sortedAlignmentVisible</key>
	<string>prevDecorationOpacity</string>
</dict>
</plist>
