<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushInStage</key>
	<string>kernelVarContrast</string>
	<key>constraintLikeStructure</key>
	<string>nativeAlignmentPosition</string>
	<key>entityStyleHue</key>
	<string>storageModeTransparency</string>
	<key>gradientDespiteTask</key>
	<string>layerFromTask</string>
	<key>smartLayoutPressure</key>
	<string>callbackWorkShape</string>
	<key>textfieldLevelAlignment</key>
	<string>actionThroughFacade</string>
	<key>tickerOfPhase</key>
	<string>groupShapeLocation</string>
</dict>
</plist>
