<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartFunctionTransparency</key>
	<string>asyncOrState</string>
	<key>difficultViewMargin</key>
	<string>arithmeticFormForce</string>
	<key>layoutDespiteShape</key>
	<string>singletonBesideFacade</string>
	<key>pointAtWork</key>
	<string>logarithmBeyondParameter</string>
	<key>rowValueMargin</key>
	<string>scaffoldAgainstOperation</string>
	<key>sliderModeSpeed</key>
	<string>delegateFormBehavior</string>
</dict>
</plist>
