<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackParameterRotation</key>
	<string>responsiveDurationOffset</string>
	<key>cupertinoAtProxy</key>
	<string>awaitLikeDecorator</string>
	<key>curveAroundMediator</key>
	<string>petOfLayer</string>
	<key>globalSkirtType</key>
	<string>lazyMultiplicationTension</string>
	<key>metadataStrategyMode</key>
	<string>nodeKindTint</string>
	<key>observerBridgeInteraction</key>
	<string>statefulFeatureTension</string>
	<key>resourceJobPressure</key>
	<string>playbackVersusWork</string>
	<key>sizeVisitorAlignment</key>
	<string>cacheFunctionVisible</string>
	<key>titleMethodMargin</key>
	<string>gramTypeScale</string>
</dict>
</plist>
