<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGesturedetectorSize</key>
	<string>frameOrPrototype</string>
	<key>activityVariableFlags</key>
	<string>concreteChapterStyle</string>
	<key>frameContextForce</key>
	<string>hardCompleterKind</string>
	<key>gridFunctionCoord</key>
	<string>navigatorPrototypeFlags</string>
	<key>kernelAsAction</key>
	<string>beginnerPreviewForce</string>
	<key>mobileAwayFlyweight</key>
	<string>mapStagePadding</string>
	<key>subscriptionMediatorMargin</key>
	<string>globalProgressbarDensity</string>
</dict>
</plist>
