<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertInterpreterStatus</key>
	<string>accessoryTaskMode</string>
	<key>assetViaInterpreter</key>
	<string>activatedDecorationVisibility</string>
	<key>asyncCompositeSkewx</key>
	<string>radiusAgainstSingleton</string>
	<key>captionBufferStyle</key>
	<string>singletonParamKind</string>
	<key>granularGrainBorder</key>
	<string>singletonOfProxy</string>
	<key>opaqueChannelForce</key>
	<string>nodeStructurePadding</string>
	<key>semanticViewSkewy</key>
	<string>requestAdapterOpacity</string>
	<key>serviceParamOrigin</key>
	<string>modelPerContext</string>
	<key>vectorBridgeBorder</key>
	<string>resizableGradientFormat</string>
</dict>
</plist>
