<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureVariableState</key>
	<string>easyLayerAlignment</string>
	<key>challengeFrameworkPosition</key>
	<string>easyStampResponse</string>
	<key>commandAlongJob</key>
	<string>interpolationStructureScale</string>
	<key>comprehensiveProviderValidation</key>
	<string>managerKindFlags</string>
	<key>firstSpineVisible</key>
	<string>hyperbolicPlateBound</string>
	<key>materialEffectName</key>
	<string>animationNearStrategy</string>
	<key>observerTierHead</key>
	<string>tappableAsyncRate</string>
	<key>primaryDecorationCount</key>
	<string>injectionUntilEnvironment</string>
	<key>protocolThroughCycle</key>
	<string>similarSinkSaturation</string>
</dict>
</plist>
