<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeZoneInteraction</key>
	<string>canvasAmongVariable</string>
	<key>animationFunctionOffset</key>
	<string>tickerLikeWork</string>
	<key>aspectContainMode</key>
	<string>explicitManagerColor</string>
	<key>checkboxLevelFlags</key>
	<string>resilientProjectHue</string>
	<key>explicitProjectionBehavior</key>
	<string>criticalOffsetCount</string>
	<key>getxParamName</key>
	<string>pageviewContainSystem</string>
	<key>radiusTypeMargin</key>
	<string>documentInActivity</string>
	<key>unaryLevelAcceleration</key>
	<string>layoutInterpreterFlags</string>
	<key>uniqueUnaryAlignment</key>
	<string>durationStateSize</string>
</dict>
</plist>
