<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedSizeVisibility</key>
	<string>protectedConsumerBrightness</string>
	<key>drawerEnvironmentShape</key>
	<string>advancedSegueVelocity</string>
	<key>effectAgainstChain</key>
	<string>decorationAgainstStructure</string>
	<key>indicatorAsParam</key>
	<string>usecaseUntilProxy</string>
	<key>reductionAgainstFramework</key>
	<string>gridviewJobDepth</string>
	<key>vectorAtComposite</key>
	<string>deferredStorageStyle</string>
</dict>
</plist>
