<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianProtocolPadding</key>
	<string>directDimensionPadding</string>
	<key>configurationChainHead</key>
	<string>semanticSizeResponse</string>
	<key>delegateNearShape</key>
	<string>tabbarDuringAction</string>
	<key>progressbarWithState</key>
	<string>cardVarHue</string>
	<key>resourceInBridge</key>
	<string>hyperbolicAlignmentRight</string>
</dict>
</plist>
