<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAboutContext</key>
	<string>frameIncludeVar</string>
	<key>channelWithPattern</key>
	<string>curvePerVar</string>
	<key>featureAwayShape</key>
	<string>touchObserverBrightness</string>
	<key>normIncludeBuffer</key>
	<string>completerBridgeForce</string>
	<key>retainedTechniqueType</key>
	<string>smartPaddingVisible</string>
	<key>specifyAppbarTail</key>
	<string>semanticLayerEdge</string>
</dict>
</plist>
