<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentActivityMargin</key>
	<string>compositionalListenerMode</string>
	<key>baseStateDuration</key>
	<string>transitionContextSpeed</string>
	<key>bufferAboutLevel</key>
	<string>aspectratioActivityCenter</string>
	<key>futureCycleDelay</key>
	<string>custompaintThanFlyweight</string>
	<key>interfaceAdapterBorder</key>
	<string>positionedTierRight</string>
	<key>logForVariable</key>
	<string>zoneMementoBottom</string>
	<key>resilientButtonTag</key>
	<string>notificationFormCoord</string>
	<key>resourceAdapterScale</key>
	<string>specifyTickerSaturation</string>
</dict>
</plist>
