<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonContractionScale</key>
	<string>subtleExponentCount</string>
	<key>criticalLabelStatus</key>
	<string>multiplicationDuringShape</string>
	<key>curveOrEnvironment</key>
	<string>invisibleSinkInteraction</string>
	<key>factoryNearLayer</key>
	<string>equalizationAsFramework</string>
	<key>fragmentVariableSize</key>
	<string>smartSizedboxTail</string>
	<key>sharedFactoryTint</key>
	<string>vectorNumberBrightness</string>
	<key>symmetricPointMomentum</key>
	<string>semanticsAndPattern</string>
	<key>tickerThanForm</key>
	<string>keyCosineStyle</string>
</dict>
</plist>
