<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineFunctionRight</key>
	<string>completerAgainstProxy</string>
	<key>hierarchicalNotificationSpeed</key>
	<string>constraintLayerTension</string>
	<key>navigatorValueStatus</key>
	<string>layerFormIndex</string>
	<key>resolverForType</key>
	<string>webRequestOrientation</string>
	<key>reusableShaderType</key>
	<string>interactorUntilAdapter</string>
</dict>
</plist>
