<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitCommandMomentum</key>
	<string>greatCurveKind</string>
	<key>cupertinoBridgeMomentum</key>
	<string>mapVersusKind</string>
	<key>directParticleBottom</key>
	<string>eagerCubeMomentum</string>
	<key>listviewLikeForm</key>
	<string>masterWithoutBridge</string>
	<key>promiseOrSingleton</key>
	<string>descriptorWithMemento</string>
	<key>resizablePromiseFeedback</key>
	<string>blocFromFramework</string>
	<key>routeActivityPressure</key>
	<string>mobileActionCoord</string>
	<key>unaryFromValue</key>
	<string>textfieldThanInterpreter</string>
</dict>
</plist>
