<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewStructureRotation</key>
	<string>metadataTypeTail</string>
	<key>menuMementoTheme</key>
	<string>cellSinceProxy</string>
	<key>sizedboxFrameworkTension</key>
	<string>reusableNotifierTag</string>
	<key>slashContainType</key>
	<string>nextRemainderHue</string>
	<key>storeAdapterMode</key>
	<string>comprehensiveMasterColor</string>
</dict>
</plist>
