<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalSpineKind</key>
	<string>sustainableTickerType</string>
	<key>tickerChainDepth</key>
	<string>offsetContextVisibility</string>
	<key>workflowOrStyle</key>
	<string>specifyTitleAcceleration</string>
</dict>
</plist>
