<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletCycleVisible</key>
	<string>secondCertificateBottom</string>
	<key>lastTransitionScale</key>
	<string>storeBeyondKind</string>
	<key>monsterOutsideTask</key>
	<string>viewParameterVelocity</string>
	<key>previewContextEdge</key>
	<string>commonGroupMomentum</string>
	<key>prismaticEffectLeft</key>
	<string>usedActivityTail</string>
	<key>referenceWithoutParameter</key>
	<string>tableAboutJob</string>
	<key>sizeAboutFlyweight</key>
	<string>signatureMethodInteraction</string>
	<key>specifyLayerSpacing</key>
	<string>discardedTransformerCoord</string>
</dict>
</plist>
