<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFromComposite</key>
	<string>semanticLogarithmSpacing</string>
	<key>consultativeAnchorDistance</key>
	<string>robustRouteColor</string>
	<key>dialogsOutsideKind</key>
	<string>custompaintByStyle</string>
	<key>equipmentTierBottom</key>
	<string>imageWithKind</string>
	<key>errorAdapterTheme</key>
	<string>invisibleRouteDuration</string>
	<key>hierarchicalKernelEdge</key>
	<string>routeCommandForce</string>
	<key>lastZoneColor</key>
	<string>disabledFeatureCount</string>
	<key>mapOrStrategy</key>
	<string>frameValueAppearance</string>
	<key>scrollableFrameSkewx</key>
	<string>chartJobForce</string>
	<key>smallGemPressure</key>
	<string>delegateNearActivity</string>
</dict>
</plist>
