<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocShapeSize</key>
	<string>priorityLikeVar</string>
	<key>bufferObserverDistance</key>
	<string>popupAgainstParameter</string>
	<key>entityMethodForce</key>
	<string>subscriptionDespitePhase</string>
	<key>priorContainerAcceleration</key>
	<string>constBlocLocation</string>
	<key>riverpodChainHead</key>
	<string>persistentNotifierShape</string>
	<key>robustQueueType</key>
	<string>diversifiedListenerAppearance</string>
</dict>
</plist>
