<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardOptionEdge</key>
	<string>reusableTitleFeedback</string>
	<key>constraintWorkStyle</key>
	<string>protectedConstraintCount</string>
	<key>cursorDespiteProcess</key>
	<string>appbarLevelBottom</string>
	<key>decorationParamVisible</key>
	<string>decorationAtStrategy</string>
	<key>fusedTitleSpeed</key>
	<string>multiplicationParameterState</string>
	<key>hardAnimationRate</key>
	<string>viewCycleShade</string>
	<key>tappableWorkflowSpacing</key>
	<string>associatedTextBottom</string>
</dict>
</plist>
