<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowCompositeAcceleration</key>
	<string>responsiveStoreInteraction</string>
	<key>denseAssetTop</key>
	<string>asyncFrameHue</string>
	<key>disabledGesturedetectorColor</key>
	<string>streamFacadeTension</string>
	<key>missedProviderResponse</key>
	<string>persistentRoleLocation</string>
	<key>paddingActivityTension</key>
	<string>previewThanCycle</string>
	<key>taskModeDelay</key>
	<string>anchorInStage</string>
	<key>transformerIncludeBridge</key>
	<string>constraintOutsideParam</string>
</dict>
</plist>
