<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPrototypeRate</key>
	<string>mediocreBaselineFormat</string>
	<key>concurrentSingletonPressure</key>
	<string>newestWidgetVisibility</string>
	<key>desktopCacheDirection</key>
	<string>tabbarStrategyState</string>
	<key>fusedScaleContrast</key>
	<string>directExtensionOrientation</string>
	<key>lastDecorationVisible</key>
	<string>cubitOfVariable</string>
	<key>permanentPositionSize</key>
	<string>delegateFromParameter</string>
	<key>previewContainTask</key>
	<string>layerInsideAdapter</string>
	<key>vectorCompositeShape</key>
	<string>equalizationBesideParam</string>
</dict>
</plist>
