<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTabbarAppearance</key>
	<string>specifierShapeAlignment</string>
	<key>euclideanNavigationScale</key>
	<string>gridviewBesideFlyweight</string>
	<key>gridEnvironmentOrigin</key>
	<string>plateIncludeFacade</string>
</dict>
</plist>
