<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAroundEnvironment</key>
	<string>awaitChainEdge</string>
	<key>catalystShapeFrequency</key>
	<string>agileCatalystTheme</string>
	<key>firstStateValidation</key>
	<string>interfaceLayerFormat</string>
	<key>fragmentExceptFunction</key>
	<string>inactiveSubpixelTop</string>
	<key>projectAboutInterpreter</key>
	<string>axisVersusStyle</string>
	<key>rectPerPattern</key>
	<string>interactiveCertificateTheme</string>
	<key>topicViaOperation</key>
	<string>alignmentAgainstMediator</string>
	<key>variantViaObserver</key>
	<string>mediaqueryContainEnvironment</string>
</dict>
</plist>
