<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledMaterialVisibility</key>
	<string>requestDecoratorTail</string>
	<key>nodeVersusPhase</key>
	<string>allocatorExceptShape</string>
	<key>normAgainstScope</key>
	<string>behaviorAtStage</string>
	<key>prevTopicValidation</key>
	<string>beginnerInteractorVisible</string>
	<key>segueSingletonBorder</key>
	<string>synchronousTangentOffset</string>
	<key>subscriptionInsideAdapter</key>
	<string>ignoredConvolutionCount</string>
	<key>widgetFlyweightAppearance</key>
	<string>momentumAsObserver</string>
	<key>workflowExceptPlatform</key>
	<string>playbackContainPrototype</string>
	<key>zoneAboutForm</key>
	<string>webChallengeHue</string>
</dict>
</plist>
