<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonActionLeft</key>
	<string>paddingCommandMomentum</string>
	<key>grainMethodHue</key>
	<string>mutableThreadDensity</string>
	<key>ignoredDecorationOrigin</key>
	<string>backwardEffectFormat</string>
	<key>interactiveTitleColor</key>
	<string>opaqueConstraintSaturation</string>
	<key>relationalFeatureAlignment</key>
	<string>parallelProtocolTop</string>
	<key>stackValueTransparency</key>
	<string>asynchronousCharacterDirection</string>
	<key>switchDespitePattern</key>
	<string>drawerWithoutType</string>
	<key>transformerTypeRight</key>
	<string>progressbarOrStrategy</string>
	<key>unactivatedCubitTop</key>
	<string>metadataOfPrototype</string>
</dict>
</plist>
