<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheProcessTint</key>
	<string>widgetPerInterpreter</string>
	<key>greatConfigurationStatus</key>
	<string>blocAdapterContrast</string>
	<key>inheritedProtocolBorder</key>
	<string>navigatorParameterPadding</string>
	<key>localHeroBorder</key>
	<string>delicateMobxDirection</string>
	<key>lostObserverState</key>
	<string>navigatorBesideChain</string>
	<key>radiusContainStrategy</key>
	<string>substantialNavigatorSize</string>
	<key>resourceScopeSpacing</key>
	<string>mutableConfigurationStyle</string>
	<key>significantStreamHue</key>
	<string>sinkVarRight</string>
	<key>symbolBufferTheme</key>
	<string>slashIncludeShape</string>
</dict>
</plist>
