<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSliderBehavior</key>
	<string>agileTitleSize</string>
	<key>bitrateOutsideVariable</key>
	<string>sophisticatedFeatureValidation</string>
	<key>operationIncludePrototype</key>
	<string>positionProxyDensity</string>
	<key>reusableConvolutionFlags</key>
	<string>singleStackLocation</string>
	<key>spriteVisitorShade</key>
	<string>compositionAtStage</string>
	<key>subtleExceptionTail</key>
	<string>relationalLayerContrast</string>
	<key>touchShapeSpacing</key>
	<string>desktopIconSkewy</string>
</dict>
</plist>
