<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStatelessIndex</key>
	<string>sensorTempleMargin</string>
	<key>commonStorageFrequency</key>
	<string>resourceByOperation</string>
	<key>reducerAmongFramework</key>
	<string>cellThroughShape</string>
	<key>sinkViaParam</key>
	<string>sharedStatefulIndex</string>
</dict>
</plist>
