<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVarPadding</key>
	<string>prismaticRowOrientation</string>
	<key>injectionUntilDecorator</key>
	<string>symbolParameterScale</string>
	<key>reactiveRadiusName</key>
	<string>transformerVariablePosition</string>
	<key>routeValueBound</key>
	<string>durationShapeCoord</string>
</dict>
</plist>
