<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBlocInterval</key>
	<string>responsiveGraphForce</string>
	<key>displayableStepInterval</key>
	<string>intensityStyleStatus</string>
	<key>factoryOfCommand</key>
	<string>managerMethodMargin</string>
	<key>newestNormRight</key>
	<string>exceptionInsideMethod</string>
	<key>previewAdapterRight</key>
	<string>viewTempleState</string>
	<key>progressbarAdapterPosition</key>
	<string>keyFutureSpacing</string>
	<key>radiusAdapterFormat</key>
	<string>errorAsAdapter</string>
	<key>stepUntilActivity</key>
	<string>sensorAlongMediator</string>
</dict>
</plist>
