<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparatePopupSpeed</key>
	<string>sizedboxEnvironmentKind</string>
	<key>mediaqueryFacadeSpacing</key>
	<string>repositoryOperationLocation</string>
	<key>symmetricRouteForce</key>
	<string>curveBesideChain</string>
	<key>themeAroundChain</key>
	<string>textureVarDelay</string>
</dict>
</plist>
