<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventActionShade</key>
	<string>intermediateSpineTop</string>
	<key>getxProxyTheme</key>
	<string>topicOfFlyweight</string>
	<key>inheritedSignVisibility</key>
	<string>geometricPaddingShade</string>
	<key>parallelCertificateFlags</key>
	<string>sizeFrameworkRotation</string>
	<key>permissiveMetadataFrequency</key>
	<string>animationAwayFramework</string>
	<key>pinchableMarginDuration</key>
	<string>durationFunctionSkewy</string>
	<key>protectedBlocDepth</key>
	<string>symmetricCommandPadding</string>
	<key>switchAlongType</key>
	<string>resizableSkirtCenter</string>
	<key>webViewAcceleration</key>
	<string>sensorAroundInterpreter</string>
</dict>
</plist>
