<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interpolationExceptVariable</key>
	<string>queuePerMediator</string>
	<key>lazyConstraintSpacing</key>
	<string>queueFlyweightFormat</string>
	<key>mutableStreamShade</key>
	<string>mainTweenScale</string>
	<key>originalGesturedetectorCount</key>
	<string>similarKernelScale</string>
	<key>precisionBeyondNumber</key>
	<string>momentumAboutMode</string>
	<key>resilientTopicRotation</key>
	<string>positionWorkOrientation</string>
</dict>
</plist>
