<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCommandTag</key>
	<string>sizeInsideOperation</string>
	<key>durationLikeParameter</key>
	<string>drawerAboutScope</string>
	<key>entropyContainBridge</key>
	<string>missedLocalizationFlags</string>
	<key>nextServiceSpacing</key>
	<string>queryThanProxy</string>
	<key>paddingThanFunction</key>
	<string>adaptiveDialogsPadding</string>
	<key>rectContextBound</key>
	<string>multiRouteVisibility</string>
	<key>scaffoldModeName</key>
	<string>cardAroundProcess</string>
	<key>sensorTaskForce</key>
	<string>tweenAdapterMomentum</string>
	<key>sustainableAnimationTail</key>
	<string>pointModeState</string>
	<key>viewStateSpacing</key>
	<string>anchorMementoPosition</string>
</dict>
</plist>
