<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileArithmeticSize</key>
	<string>seamlessSliderCenter</string>
	<key>appbarTypeLeft</key>
	<string>gramCommandMargin</string>
	<key>durationContainComposite</key>
	<string>lazyRadioFrequency</string>
	<key>projectionWithoutStructure</key>
	<string>nativeDescriptorSkewy</string>
	<key>signatureDuringMemento</key>
	<string>prismaticResourceIndex</string>
	<key>similarSkirtFormat</key>
	<string>interfaceExceptForm</string>
	<key>tweenBesideCycle</key>
	<string>timerVersusChain</string>
	<key>viewThanParam</key>
	<string>projectionCompositeFlags</string>
</dict>
</plist>
