<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaProcessDelay</key>
	<string>grainAwayVisitor</string>
	<key>chapterAlongShape</key>
	<string>paddingTypeSkewy</string>
	<key>directlyBlocTension</key>
	<string>offsetSystemLeft</string>
	<key>extensionLevelTop</key>
	<string>storeWithComposite</string>
	<key>layerInsideTask</key>
	<string>delicateTextTint</string>
	<key>normalRowName</key>
	<string>accessoryWorkTension</string>
</dict>
</plist>
