<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistExceptForm</key>
	<string>desktopSessionFeedback</string>
	<key>equipmentBridgePosition</key>
	<string>disparateIconVisibility</string>
	<key>intensityModeAlignment</key>
	<string>rowNumberPressure</string>
	<key>momentumPlatformType</key>
	<string>extensionVarIndex</string>
	<key>serviceTempleVelocity</key>
	<string>uniqueMatrixDistance</string>
	<key>stateAmongMethod</key>
	<string>sharedRoleDepth</string>
	<key>uniformBlocFormat</key>
	<string>consultativeChartTop</string>
</dict>
</plist>
