<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardBlocColor</key>
	<string>robustDimensionSpacing</string>
	<key>mapStageInterval</key>
	<string>modelAdapterTint</string>
	<key>sceneShapeOffset</key>
	<string>buttonAboutAction</string>
	<key>sharedModelInset</key>
	<string>mobxSystemShade</string>
	<key>stackBesideOperation</key>
	<string>cupertinoBridgeSkewx</string>
	<key>timerValueAcceleration</key>
	<string>displayableEquipmentKind</string>
	<key>uniqueMissionLocation</key>
	<string>indicatorAndScope</string>
</dict>
</plist>
