<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewStateScale</key>
	<string>firstPositionVisibility</string>
	<key>intermediateStepTint</key>
	<string>completerVersusContext</string>
	<key>mutableServiceDelay</key>
	<string>navigatorByVisitor</string>
	<key>normalHashMomentum</key>
	<string>bitrateTaskOrientation</string>
	<key>ternaryWithoutMediator</key>
	<string>ternaryThroughStrategy</string>
</dict>
</plist>
