<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerVersusFacade</key>
	<string>typicalExponentIndex</string>
	<key>permanentRouteCoord</key>
	<string>arithmeticSliderRotation</string>
	<key>resizableButtonOrigin</key>
	<string>cupertinoResultTransparency</string>
	<key>responseTaskScale</key>
	<string>enabledTechniqueTail</string>
</dict>
</plist>
