<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobxAroundMediator</key>
	<string>smallFutureBorder</string>
	<key>profileInsideLevel</key>
	<string>textScopeLeft</string>
	<key>routeNumberAcceleration</key>
	<string>gestureAndPlatform</string>
</dict>
</plist>
