<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityDecoratorPressure</key>
	<string>textfieldFromValue</string>
	<key>boxWithAdapter</key>
	<string>equalizationNumberKind</string>
	<key>compositionLayerFormat</key>
	<string>actionPerFunction</string>
	<key>futureExceptStyle</key>
	<string>assetVarStyle</string>
	<key>gridByFunction</key>
	<string>otherCubitTransparency</string>
	<key>prismaticResourceState</key>
	<string>configurationActionInset</string>
	<key>reactiveChapterAppearance</key>
	<string>listenerOfComposite</string>
	<key>skirtInterpreterRight</key>
	<string>columnAtVariable</string>
	<key>stampExceptDecorator</key>
	<string>projectionFromProcess</string>
</dict>
</plist>
