<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOfTemple</key>
	<string>viewActivityCoord</string>
	<key>cacheBesideMediator</key>
	<string>alphaOrOperation</string>
	<key>channelOfForm</key>
	<string>timerObserverRate</string>
	<key>controllerFlyweightSpeed</key>
	<string>permanentAnimationDistance</string>
	<key>getxInsideSystem</key>
	<string>localizationAgainstNumber</string>
	<key>graphBesideOperation</key>
	<string>hashTierTop</string>
</dict>
</plist>
