<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAssetColor</key>
	<string>animationFrameworkMargin</string>
	<key>documentPatternInset</key>
	<string>ephemeralModelShade</string>
	<key>newestThemeCenter</key>
	<string>mutableResourceLeft</string>
	<key>particleBridgeVisible</key>
	<string>dedicatedGrainDensity</string>
	<key>protectedOptionHead</key>
	<string>directClipperRight</string>
	<key>richtextAdapterAlignment</key>
	<string>dependencyStageTheme</string>
	<key>tabviewValueDuration</key>
	<string>previewByState</string>
	<key>themeTierDelay</key>
	<string>reactiveCurveDirection</string>
	<key>transformerPerProxy</key>
	<string>aspectOperationMomentum</string>
</dict>
</plist>
