<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicReducerVisible</key>
	<string>sophisticatedSubpixelShade</string>
	<key>coordinatorWithoutShape</key>
	<string>zoneSingletonTag</string>
	<key>desktopHandlerInset</key>
	<string>pinchableConfigurationFlags</string>
	<key>futureInsideChain</key>
	<string>utilAmongContext</string>
	<key>inkwellWithoutStyle</key>
	<string>notifierUntilPlatform</string>
	<key>momentumTypeHue</key>
	<string>controllerPatternShape</string>
	<key>navigatorActionDelay</key>
	<string>backwardResultType</string>
	<key>statefulDespiteValue</key>
	<string>significantMusicCount</string>
</dict>
</plist>
