<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStatePressure</key>
	<string>taskExceptActivity</string>
	<key>directEventCoord</key>
	<string>reusableFragmentOffset</string>
	<key>factoryNumberInterval</key>
	<string>oldModalTransparency</string>
	<key>grayscaleProcessOpacity</key>
	<string>euclideanControllerBound</string>
	<key>notificationContainJob</key>
	<string>prismaticSpecifierCount</string>
	<key>playbackAdapterPressure</key>
	<string>previewAlongParameter</string>
	<key>singletonAndSingleton</key>
	<string>buttonStructureBorder</string>
	<key>ternaryTempleScale</key>
	<string>backwardOffsetFrequency</string>
</dict>
</plist>
